{% extends "layout.html" %} {% block page_content %}

<article>
<div class="cover_img_attributions">
    <h1>Attributions</h1>
</div>

<div class="description">
    <p>
        iGEM has allowed our team to foster a community of synthetic biology enthusiasts who have ideated and executed this project. The team is grateful to the iGEM foundation for facilitating this opportunity.
    </p>
    <br>
    <p>
        The team is extremely grateful to our PI, SI, advisors, sponsors, and our institute, IIT Delhi, for supporting this endeavor. Their support and guidance were integral to our success.
    </p>
    <br>
    <p>
        This project is ideated and executed entirely by the undergraduate team members with guidance from our faculty and advisors. Our journey with iGEM began in January 2022 when the team began ideating the project. We brainstormed through multiple potential
        project ideas throughout the month and settled on a feasible yet impactful idea with the help of our PI. We strategized the entire workflow and cloning strategy through the months of February and May to concretize the idea. We began ordering the
        consumables and the safety training in the month of May with the help of our advisors, instructor, and lab technicians. Since then, the wet lab, dry lab, human practices, marketing, and social media and outreach divisions have worked independently
        on their sub-objectives to achieve the shared goal of addressing lead poisoning and contamination. We have received constant support from our PI, SI, and mentors throughout the project.
    </p>
</div>
<div class="faculty">
    <h1 style="text-align: center;">Faculty support</h1>
    <br><br>
    <div class="faculty-div">
        <div class="fac1">
            <div class="fac-img">
                <img src="https://static.igem.wiki/teams/4428/wiki/team/preeti-photo.jpeg" alt="">
            </div>
            <p><b>Primary Investigator</b></p><br>
            <p class="prof-desc">
                <b>Prof. Preeti Srivastava</b> was our primary faculty advisor and coordinator. Not only did she help us ideate the project by vetting our scientific ideas, but she also got her hands wet with us in the lab when we struggled with our experiments.
                We are extremely grateful for her passion and desire to help the student community learn. She oversaw the wet lab aspect of the project and also helped tackle administrative hurdles.
            </p>
        </div>
        <div class="vert-line"><br><br></div>
        <div class="fac2">
            <div class="fac-img">
                <img src="https://static.igem.wiki/teams/4428/wiki/team/sundar-main.png" alt="">
            </div>
            <p><b>Secondary Investigator</b></p><br>
            <p>
                <b>Prof. D. Sundar</b> regularly checked in on the progress of the project and provided valuable feedback. He helped structure the team and our timelines. He also provided guidance and access to bioinformatics software for the dry lab
                modelling. Additionally, he has acted as an interface between the student team and the institute administration and helped us obtain lab space.
            </p>
        </div>
    </div>
</div>

<div class="advisors description">
    <h1 class="heading" style="text-align: center;">Advisors</h1>
    <br><br>
    <h1>Nidhee Nitin Patil</h1>
    <h2>Instructor</h2>
    <p>
        She played an integral role in the wet lab success of the project by providing day-to-day guidance in performing experiments, handling equipment and practicing safety in the process. Her wet lab expertise has been extremely valuable for the project.
    </p>
    <br>
    <h1>Agrima Deedwania</h1>
    <h2>Advisor</h2>
    <p>
        Agrima conducted the initial safety training and introduced the team to lab etiquettes. She helped the team, which had little to no lab experience, get comfortable with standard protocols. She played a significant role in the project ideation, registration
        and in figuring out the cloning strategy for the wet lab experiments. She was also instrumental in administrative tasks like registration and in procuring lab space and funding.
    </p>
    <br>
    <h1>Sriram Kumar</h1>
    <h2>Advisor</h2>
    <p>
        He was matched with our team by iGEM as our mentor. He has guided us throughout the project in terms of structuring the team, improving our understanding of what iGEM expects, the best way to achieve our technical objectives and the kind of initiatives
        we should take in human practices and education. He has regularly vetted our forms and submissions and given timely feedback.
    </p>
</div>

<div class="team-attr description">
    <h1 style="text-align: center;">Team Attributions</h1>
    <br><br>
    <h2><b>Dhwani Teckchandani</b></h2>
    <p>
        Dhwani has served as the Student Leader of the team. She ideated the entire project and devised the experimental strategy. She oversaw the smooth functioning of all divisions of the team - wet lab, dry lab and human practices. She also worked in the wet
        lab and its scheduling. Additionally, she has been responsible for all administrative tasks like procuring lab space, registration and funding from the institute.
    </p>
    <br>
    <h2><b>Apar Ahuja</b></h2>
    <p>
        Apar was the co-lead of the team and also the Dry Lab Lead on the project. He headed and ideated the structural and mathematical modelling aspects of the project. He was also responsible for setting up collaborations and partnerships with other iGEM teams.
        Additionally, he has played an integral role in the cross-pollination of ideas across divisions and the structuring of the team.
    </p>
    <br>
    <h2><b>Kondapalli Aasritha</b></h2>
    <p>
        Aasritha was the Wet Lab Lead of the project and helped in the smooth functioning of the wet lab experiments. She was responsible for setting-up objectives for each week and scheduling the working hours of the wet lab members. She has worked on the cloning
        of the recovery plasmids and expression analysis of the surface-expressed lead-binding proteins.
    </p>
    <br>
    <h2><b>Pratham Bansal</b></h2>
    <p>
        Pratham was the Fundraising Lead of the project and played an integral role in formalising associations with Biotech companies in India. He streamlined the outreach process to associate with governmental bodies and industries for the development of the
        project. He has also worked on developing an implementation strategy for the commercialisation of the project.
    </p>
    <br>
    <h2><b>Aashita Gupta</b></h2>
    <p>
        Aashita was the Human Practices Lead for the project. She ideated and led awareness initiatives, surveys and set up stakeholder interactions. She also led education-based initiatives to develop a module on synthetic biology, facilitated introductory sessions
        in schools and held meetings with officials from educational boards to include synthetic biology in the curriculum.
    </p>
    <br>
    <h2><b>Sarthak Singh Chauhan</b></h2>
    <p>
        Sarthak has acted as an interface between the wet lab and the dry lab divisions. He has contributed to the mathematical and structural modelling along with project ideation. He has also developed the education modules and introductory sessions for synthetic
        biology. Additionally, he has ideated and conducted the surveys. He has been an integral part of the dry lab and human practices divisions.
    </p>
    <br>
    <h2><b>Prashita Saxena</b></h2>
    <p>
        Prashita has acted as the wet lab hands of the project. She was an integral part of the wet lab team for cloning of the recovery plasmids and did a lot of miscellaneous work like content writing, microfluidics, social media and outreach, and design. She
        has also helped ideate the project and in its smooth functioning.
    </p>
    <br>
    <h2><b>Aayushi Agrawal</b></h2>
    <p>
        Aayushi has been involved in the wet lab and hardware aspects of the project. She has been involved in the cloning of the recovery plasmids along with the ideation of the microfluidic device and immobilisation strategies for the biosensor. She has also
        worked on translating our content to local Indian languages and helped develop the education modules.
    </p>
    <br>
    <h2><b>Snigdha Malhotra</b></h2>
    <p>
        Snigdha has primarily been involved in the wet lab division and worked on cloning of the plasmids. She has ensured compliance with safety guidelines throughout the project’s wet lab experiments. She has also directed and produced the promotional video
        of the project.
    </p>
    <br>
    <h2><b>J. Ajai</b></h2>
    <p>
        Ajai has worked in the wet lab division of the project. He has ordered consumables and inventory for the project when necessary. He has also set up interactions with stakeholders in human practices.
    </p>
    <br>
    <h2><b>Shreyas Khedekar</b></h2>
    <p>
        Shreyas has worked in the wet lab division of the project. He has also developed introductory biology sessions for potential iGEM recruits for the team.
    </p>
    <br>
    <h2><b>Harsh Saini</b></h2>
    <p>
        Harsh has been involved in the human practices division for facilitating and setting-up stakeholder interactions and for running the awareness drive. He has also worked on web development for the wiki.
    </p>
    <br>
    <h2><b>Rehan Singh Dhaka</b></h2>
    <p>
        Rehan is the primary web developer of the team for the smooth construction of the wiki. He has also worked on inclusivity through the wiki by adding an audio conversion tool.
    </p>
    <br>
    <h2><b>Sonali Kanwar Rathore</b></h2>
    <p>
        Sonali has been involved in the human practices division. She worked on the surveys and the setting up of educational sessions with schools and NGOs. She also worked on the social media and outreach of the project.
    </p>
    <br>
    <h2><b>Ashwani Yadav</b> and <b>Sparsh Agarwal</b></h2>
    <p>
        They have contacted companies and governmental organisations for funding for the project. They have been integral to the marketing team and their contribution is invaluable to the project.
    </p>
    <br>
    <h2><b>Ashish Choudhary</b></h2>
    <p>
        Ashish has been involved in the dry lab and human practices divisions of the team. He has contributed to the mathematical modelling and its documentation.
    </p>
    <br>
    <h2><b>Jaskeen Singh</b></h2>
    <p>
        Jaskeen has worked in the dry lab division along with content writing for documentation of the project.
    </p>
    <br>
</div>

<div class="fin-support description">
    <h1 style="text-align: center;"><b>Financial Support</b></h1>
    <br><br>
    <p>
        We thank Indian Institute of Technology Delhi for believing in our team and the project to fund our journey all throughout iGEM.<br><br> We are grateful to our sponsor, Premas Biotech Pvt. Ltd., for investing in our project and realising its potential
        at an early stage.
    </p>
</div>

<div class="advisors description">
    <h1 style="text-align: center;">Acknowledgements</h1>
    <br><br>
    <p>
        We are grateful to our lab managers, technicians and lab assistants, Mr Anish Raju, Dr Sumeet Kapoor, Mr Ashish Kumar and Mr Sanjay Kumar, for helping us every step of the way for the smooth functioning of the lab. <br><br> Vipul Kumar has been
        involved with the dry lab division. He helped us set up our structural modelling pipeline. He taught us how to use modelling software and gave crucial advice throughout the project. <br><br> Dheeraj Chaurasia has been involved with the dry lab
        division. He helped us execute lead-protein docking and advised us on using the existing literature effectively. <br><br> We also thank all lab members of RNA Lab I who have cooperatively allowed us to use their lab space and resources throughout
        the project. <br><br> We also thank our stakeholders for taking out the time for providing us with valuable and thoughtful inputs on our project which helped improve it every step of the way. How their inputs impacted our project can be found
        on the <a href="{{ url_for('pages', page='human-practices') }}" style="text-decoration:none;"> Integrated Human Practices</a> page. <br>
    </p> 
</div>


</article>
{% endblock %}
