{% extends "layout.html" %} {% block page_content %}

<article>

<div class="cover_img_attributions">
    <h1>Collaborations</h1>
</div>

<div class="description vellore">
    <h1>Vellore Institute Technology</h1>
    <br>
    <h2>Dry Lab</h2>
    <br>
    <p>
        We collaborated with iGEM VIT in various aspects of modelling and simulations. Both the teams, iGEM VIT and our team, had worked on two shared aspects of dry lab, structural modelling and mathematical modelling. We provided them python scripts for differential
        modelling and analysis and assisted in the setup of bioCRNpyler. This new chemical reaction network modelling library hasn’t been used in iGEM before. We provided them with a base code to build upon to model their genetic circuit as a chemical
        reaction network. iGEM VIT provided us with valuable insights on simulation software to use for metal-protein docking. They had experience working with AutoDock Vina. They gave us testing pipelines and helped us use Vina. Screenshots from one
        of our meetings are attached below.


    </p>
    <br>
    <div style="text-align: center;">
        <img src="https://static.igem.wiki/teams/4428/wiki/team/vellore.png" alt="">
    </div>

</div>
<div class="patras">
    <h1>
        <b>iGEM Patras</b>
    </h1>
    <br>
    <h2>Inclusivity & Diversity</h2>
    <br>
    <p>
        We translated team iGEM Patras’s promotional video scripts to Hindi. This initiative also promotes the spread of synthetic biology in India, making it more accessible to natives.

    </p>
    <br>
    <div style="text-align: center;">
        <img src="https://static.igem.wiki/teams/4428/wiki/team/patras1.png" alt="">
    </div>


</div>

<div class="chennai">
    <h1>REC Chennai</h1>
    <br>
    <h2>Dry Lab & Integrated Human Practices</h2>
    <br>
    <p>
        iGEM REC Chennai collaborated with us on docking. We explained to them how to use AlphaFold2 to generate protein structures. We suggested they use the LZerd Algorithm and provided them with relevant research papers and web servers for LZerd protein docking.
        The REC Team went to a water treatment plant in Kalpakkam, Tamil Nadu met Mr Y V Nancharaiah. Mr Nancharaiah gave us insights into the current practices of wastewater treatment. He also provided feedback on our approach. This helped us review
        our project design and execution.
    </p>
    <br>
    <div class="vellore" style="text-align: center;">
        <img src="https://static.igem.wiki/teams/4428/wiki/team/rec.png" alt="">
    </div>
    <div class="chat">
        <p>
            A transcribed chat is attached below – <br>
        </p>
        <p>
            <b>IIT Delhi / REC Chennai:</b> Are engineered microbes and other biological processes utilised for the treatment of wastewater on a large scale currently? If yes, do you think our project can be implemented for the extraction of lead similarly.
        </p>
        <p>
            <b>Mr Nancharaiah:</b> Engineered microbes are not usually preferred in a large scale as pure strains. Due to the contaminants present in the effluents, it may lead to mixed cultures. Pre-treatment is possible with an engineered pure strain,
            but otherwise, it’s not feasible.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b> As per our study so far, we found that inefficiency in the Lead Recycling/Extraction process is one of the major sources of Lead in water, do you agree? Are there any other major causes that you can tell us
            about?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> Yes, recycling and extraction would not be in the spotlight for most companies unless it profits the organisation.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b> The permissible lead level in water is 0.035 mg/L, and physicochemical treatments can bring it down to only 0.4 mg/L. Do you recognise this as a severe industrial issue and a pressing need for a solution to
            the above issue?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> If this limit is for drinking water, it may rise as a major issue since the difference is almost ten times. But for discharged water, I don’t think it will bring about any drastic changes.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b> What do you think would be the major problems arising from the adsorption-desorption process mentioned above for lead recovery?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> The sorbent may need constant renewal since it might get exhausted over a few cycles. This may increase the expenses for the project.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b> Do you think our solution will be exhaustive in wastewater treatment for Lead or should we first do treatment with conventional methods and then use our solution for better efficiency?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> An integrated system is required. You should also check for toxicity levels.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b> We are trying to improvise the adsorption of lead onto the engineered bacteria through different methods, but for desorption, we couldn’t find anything other than the typical process of leaching. Do you have
            any suggestions on any modification to acidic leaching for recovery?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> Chelating agents like EDTA and citric acid might help.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b>Do you think industries and treatment plants would be ready to accept adding engineered bacteria in their system for removal aspect considering the added advantage of recovery?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> Maybe not directly into plants but possibly in pre-treatment processes. Usually, this will be preferred for lead-rich effluents only.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b>What are the primary technical/scientific issues in implementing the above idea for a large-scale recovery in treatment plants?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> A high pollutant concentration is required for efficient removal and recovery.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b>When implementing our solution on a large scale, how would the bacteria need to be suspended in the medium for a decent amount of lead ions to be recovered, is simple mixing of the culture sufficient or any other
            mechanisms are required?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> Biofilms might work here. You can also try to immobilise the cells.
        </p>
        <br>
        <p>
            <b>IIT Delhi / REC Chennai:</b> We were also planning to make an oscillating biosensor using <i> E. Coli </i> to detect and quantify lead in water samples. Do you think the present methods of lead detection are sufficient, or the industry would appreciate
            such a device? Also, if we shift away from the industry perspective, can such a device be used by common people?
        </p>
        <p>
            <b>Mr Nancharaiah:</b> For industries, one must convince that this new method would be much more efficient when compared to existing processes. For common people, you need to get approvals. The microbes must be in a contained environment.
        </p>
        <br>
    </div>
</div>
<div class="description">
    <h1><b>University of Waterloo</b></h1>
    <br>
    <h2>Mentorship</h2>
    <br>
    <p>
        We held a symposium with iGEM University of Waterloo during the very beginning of our project. Their team presented short descriptions of their previous projects, team structure, work division and other logistics. These were very useful insights since
        we were starting as a new team. They also guided us on how to get funding. All this advice helped us better structure our project and team right from the start.
    </p>
    <br>
    <br>
</div>


</article>

{% endblock %}
