{% extends "layout.html" %}

{% block page_content %}
<article>
<div class="cover_img_parts img_hp">
    <h1>Communication</h1>
</div>

<div class="whiteBlock">
  <p class="para">Under communication iGEM IITD aims to educate the community around them on synthetic biology and to
    get a module on synbio integrated into the school curriculum by reaching out to education boards in India. This
    would help develop new opportunities to include more people in the field of synbio by providing greater information
    to the youth and promoting the field. Additionally, we also aim to undertake skill enhancement of the team and the
    community around us, on how to approach science communication methods to effectively communicate their ideas to the
    community. This was done to set up an effective channel for a two-way dialogue between the educators and students.
  </p>
  <p class="para">We sought numerous educational boards like CBSE and Delhi Board in order to integrate synthetic
    biology into the curriculum of high school students. To establish an initial point of contact, we engaged the
    current and past Director and Dean of Academics at IITD, in order to generate contact with the school boards for the
    long-term integration of synthetic biology into school curriculum and, eventually, to establish Synthetic Biology as
    an optional subject in 10+2 class. Parallelly we also put up mails and signed up for appointments with NCERT, CBSE,
    ICSE and State boards.</p>
</div>

<div class="blueExperimentDataBlock">
  <p class="para">To support this initiative, we decided to make modules on synthetic biology and take sessions in
    schools. We collaborated with IISc Bangalore to create a module on synthetic biology. This module is being developed
    for use by our team and other iGEM teams to raise awareness of SynBio and iGEM among high school students. A number
    of professors and specialists assessed the module to confirm its credibility. We collaborated with numerous school
    teachers to ensure the quality of the module and refined it through multiple versions. The module was also reviewed
    by our supervisor. Assessment sheets were also made to determine how much students already knew about SynBio and to
    map improvement in their understanding as a result of our presentation. This would also help us compile a report
    that we could use to further our cause at the relevant education boards.
  </p>
  <p class="para">In the process of ensuring that the sessions were delivered effectively, we trained our team in
    science communication using various tools and methods listed by past iGEM teams. Throughout the sessions we also
    communicated with teachers to promote effective science communication techniques. Through this process the team
    developed hands on experience at delivering such sessions and overall communication.</p>
    <br>
    <p class="para">
      A detailed overview of our initiatives regarding educating, both, teachers and students about synthetic biology and reaching out to educational boards to pitch the inclusion of this field as part of the high school curriculum can be found on our <a href="{{ url_for('pages', page='education') }}"> Education</a> page.
    </p>
</div>

</article>
{% endblock %}
