{% extends "layout.html" %} {% block page_content %}

<article>
<div class="section-blue">
    <h1>Description</h1>
</div>

<div class="description">
    <h1>Motivation</h1>
    <br>
    <p>
        According to UNICEF, a third of the world’s children are affected by lead poisoning, a challenge that, in severe cases, may even prove to be fatal. In October 2021, CDC (Centre for Disease Control and Prevention), revised the blood lead reference value
        from 5 milligrams per decilitre to 3.5 milligrams per decilitre. This was the first change made in the reference value in nearly a decade, implying more children are being negatively impacted by the effects of lead. In 2019, The Institute of Health
        and Metrics (IHME) also estimated lead exposure to be the reason for 62.5% of developmental intellectual disability, 8.2% of hypertensive heart disease, 7.2% of ischaemic heart disease, 5.65% of stroke out of the total global burden of these diseases.
        Further, in a report by WHO, lead has been termed as a cumulative toxicant owing to its negative impact on multiple body systems, with a particularly pernicious effect on the brain and central nervous system. Lead is a potent neurotoxin that causes
        irreparable harm to children’s brains. Lead poisoning severely affects the physical and cognitive functioning of children, infants below the age of 6 (including a developing fetus), being particularly vulnerable. Since Lead is also an indispensable
        part of various manufacturing processes, it is estimated that the annual world production of lead is more than 3 million tons. However, due to its toxicity, even low lead concentrations can cause poisoning, with no known level of lead exposure
        being benign.
    </p>
    <br>
    <p>
        Looking at these statistics, our team came together to ideate a project that could potentially tackle the challenge of lead poisoning and improve the lives of children and adults around the world. Lead poisoning is a catastrophe affecting millions of
        people around the world and urges us to take prompt action against it. Through our system, not only do we aim to adopt a pragmatic approach towards the assessment and monitoring of lead contamination, we also look forward to the adsorption of
        lead from water samples and its recovery for the consequent viable commercial use.

    </p>
    <br>
    <p>
        Our interest in the topic was spurred further when a member of our team narrated a verbatim account of lead poisoning cases that she had encountered in her home state, Rajasthan, which reports one of the highest statistics of lead poisoning in India,
        making us realize the severity of the disease. In addition to the personal accounts narrated by our team member, a study on the same reported the mean BLL (Blood Lead Level) to be 4.25µL/dL and the median as 3.5µL/dL in Jodhpur, a city in Rajasthan. This set up
        a preliminary platform to build upon to initiate ideation and realization of the project.

    </p>
    <br>
    <p>
        The team members each visited the areas in their home state, talking to locals around and collecting data on the cases of lead poisoning in their regions. Furthermore, on a global level, a recent UNICEF report shows that 800 million children worldwide
        are affected by lead poisoning. Unfortunately, more than a third of these cases come from India. Realizing the enormity of the adversity, the team sat together to brainstorm and ideate solutions regarding the same. Being SynBio enthusiasts, we
        planned to take up the synthetic biologist road to arrive at the solution of developing an oscillatory frequency-based whole-cell biosensor for lead detection and recovery using <i> Escherichia coli </i> as our host cell. In India, a country still in its
        developing phase, we believe the field of Synthetic Biology has not reached its full potential yet, with various unexplored paths remaining. In addition to tackling the challenge of lead poisoning, our vision also includes a desire to elevate
        the realm of synthetic biology to palpable levels and promote its general application in our country and the world. We wish to show the people that synthetic biology is the present and is well within our reach, thus repainting its currently obscure
        and far-flung picture. Our objective is to show how synthetic biology is a pragmatic approach to bestow solutions to various problems that exist around us.

    </p>
    <br>
    <p>
        Our team was sensitized by the alarming statistics of lead exposure in developing countries, like ours, with lead exposure causing 853,000 deaths annually compared to an overall 852,000 deaths caused by other occupational disorders. Moreover, 99% of the
        population overexposed to lead arise from India and other southeast nations. On a global level, lead poisoning accounts for 21.7 million DALYs (Disability-Adjusted Life Years) of healthy lives lost. Solving the lead exposure crisis would be a
        considerable leap in healthcare, and its subsequent recovery would also benefit the economy.

    </p>
    <br>
    <p>
        Apart from this, we aim to democratize synthetic biology as an approachable platform for anyone looking for a way to bring about a positive impact on the world. Our objective is to expand the scope and inclusivity of synthetic biology and encourage young
        minds to come forth and catalyze further advancements in the domain.

    </p>
    <br>
    <h1>
        Why do we need a new recovery system?
    </h1>
    <br>
    <p>
        Industries use various physicochemical methods for lead removal from industrial wastewater including chemical precipitation, electrochemical reduction, ion exchange, reverse osmosis, membrane separation, and adsorption. These can bring down the lead concentration
        of industrial wastewater from 200-500 mg/L to 0.4 mg/L. While this is a massive reduction in the concentration of lead, it is still far from adequate, being ten-fold more than the permissible limit! These recovery methods are not viable anymore
        at such low concentrations due to poor recovery efficiency and are simply uneconomical. We specifically intend to address this gap in the current recovery methods with a synbio solution!

    </p>
    <br>
    <h1>Why do we need a new lead sensor?</h1>
    <br>
    <p>
        Lead biosensors have been worked on for almost as long as the concept of biosensors was developed. Whole-cell lead biosensors have been developed in the past but they primarily cater to a limited sample type i.e. soil samples. Only few studies have expanded
        the sample type to wastewater samples, which is one of the main focuses of our biosensor. The selectivity of these biosensors has also proved to be limited. Furthermore, all whole-cell lead biosensors found in the literature are intensity-based.
        We intend to develop a frequency-based biosensor that provides many advantages over traditional intensity-based biosensors like robustness from environmental factors, easy digitization, and decoupling from the growth state of individual cells.
        RNA-cleaving DNAzymes-based lead biosensors have also been developed, but they have limited practical use because of high cost (e.g., due to enzymes), complicated processing, and the use of unstable molecules (e.g., RNA). Apart from RNA-cleaving
        DNAzymes, other DNA-based lead biosensors have also been worked on, like those based on G-quadruplexes.
    </p>
    <br>
    <h1>What is our solution?</h1>
    <br>
    <p>
        Team IIT-Delhi is developing a comprehensive solution to lead contamination and poisoning by addressing two needs - the accurate detection of lead and its remediation.
    </p>
    <p>
        <u><b>Bacterial Biosorbant for Lead Recovery</b></u> <br>We are developing a lead recovery system which shall remove lead at commonly found concentrations from aqueous samples like wastewater by cell-surface adsorption. This shall also generate value
        for one of our primary stakeholders, wastewater treatment plants, as the lead can later be desorbed and used by industries as lead is among the more highly recyclable heavy metals.<br><br> Previous iterations of lead recovery systems based on
        surface-adsorbing bacteria have had the following limitations -
        <ol>
            <li>Limited display of metal-binding protein on the cell surface
            </li>
            <li>Lack of specificity - contaminated water will contain many other heavy metals such as; Cd, Cr, Cu, Ni, As, and Zn, which may hinder the adsorption of lead. This becomes key when trying to extract pure lead from the wastewater for recycling
                it for industrial use.</li>
            <li>Poor efficiency or binding affinity</li>
        </ol>
        <br>
    </p>
    <p>
        We address these limitations by comparatively examining multiple lead-binding proteins for developing an optimal lead recovery system. We express the lead-binding proteins on the cell surface of <i> E. coli </i> with the help of an anchor protein. The engineered
        bacteria are then used for selective adsorption of Pb2+ and bioremediation of lead. Thus, we identify the best candidate for the recovery system.
    </p>
    <br>
    <p>
        <u><b>Whole-Cell Oscillatory Biosensor</b></u><br> To address the issue comprehensively, we also work on improving lead detection methods by developing a whole-cell oscillatory lead biosensor based on the mechanisms of quorum sensing and gas-mediated
        communication. We utilize the lead-responsive system previously characterized by iGEM teams working on intensity-based lead biosensors (Peking 2010, HSiTAIWAN 2016, IISER-Pune-India 2019, XHD-WS-Wuhan-B 2019) and use it to develop the first of
        its kind oscillatory frequency-based lead biosensor, much more robust to noise and experimental factors. Such frequency-based biosensors offer multiple advantages over traditional intensity-based biosensors making them much more reliable like
        -
        <br>
        <ol>
            <li>Frequency is easily digitized and can be quickly updated with repeated measurements.</li>
            <li>For sensors that use optical reporters, measurements of frequency are less sensitive to experimental factors such as beam power and exposure time than intensity measurements, which must be normalized and calibrated. </li>
            <li>Oscillations produced at the colony level effectively decouple the signal from the growth state of individual cells, which can also affect fluorescence intensity.</li>
        </ol>
    </p>
</div>
<div class="desc-references">
    <h1>References</h1>
    <br>
    <ol>
        <li><a href="https://www.unicef.org/press-releases/third-worlds-children-poisoned-lead-new-groundbreaking-analysis-says 
          "><u>A third of the world’s children poisoned by lead- UNICEF</u></a>
        </li>
        <li><a href="https://www.cdph.ca.gov/Programs/CCDPHP/DEODC/CLPPB/Pages/BLRV.aspx#:~:text=%E2%80%8BThe%20Centers%20for%20Disease,blood%20compared%20to%20most%20children. 
          "><u>Updated CDC Blood Lead Reference Value- United States, 2021</u></a></li>
        <li>Institute for Health Metrics and Evaluation (IHME).(2019) GBD Compare. Seattle, WA: IHME, University of Washington</li>
        <li>World Health Organization (2021). Lead Poisoning. WHO fact sheet. Geneva, World Health Organization.</li>
        <li>Sanders T, Liu Y, Buchner V, Tchounwou PB. Neurotoxic effects and biomarkers of lead exposure: a review. Rev Environ Health. 2009 Jan-Mar;24(1):15-45. doi: 10.1515/reveh.2009.24.1.15. PMID: 19476290; PMCID: PMC2858639.</li>
        <li>Ivask, A., François, M., Kahru, A., Dubourguier, H. C., Virta, M., & Douay, F. (2004). Recombinant luminescent bacterial sensors for the measurement of bioavailability of cadmium and lead in soils polluted by metal smelters. Chemosphere, 55(2),
            147-156.
        </li>
        <li>Bereza-Malcolm, L., Aracic, S., & Franks, A. E. (2016). Development and application of a synthetically-derived lead biosensor construct for use in gram-negative bacteria. Sensors, 16(12), 2174.</li>
        <li>Lee, Y., Jeon, Y., Jang, G., & Yoon, Y. (2021). Derivation of pb (II)-sensing <i> Escherichia coli </i> cell-based biosensors from arsenic responsive genetic systems. AMB Express, 11(1), 1-10. 4. Prindle, A., Samayoa, P., Razinkov, I., Danino, T., Tsimring,
            L. S., & Hasty, J. (2012). A sensing array of radically coupled genetic ‘biopixels’. Nature, 481(7379), 39-44.</li>
        <li>Li, J., & Lu, Y. (2000). A highly sensitive and selective catalytic DNA biosensor for lead ions. Journal of the American Chemical Society, 122(42), 10466-10467.</li>
        <li>Guo, L., Nie, D., Qiu, C., Zheng, Q., Wu, H., Ye, P., ... & Chen, G. (2012). A G-quadruplex based label-free fluorescent biosensor for lead ion. Biosensors and Bioelectronics, 35(1), 123-127.
        </li>
        <li>Arbabi, M., Hemati, S., & Amiri, M. (2015). Removal of lead ions from industrial wastewater: A review of Removal methods. International Journal of Epidemiologic Research, 2(2), 105-109.
        </li>
    </ol>
</div>
</article>
{% endblock %}
