{% extends "layout.html" %}
{% block page_content %}
<article>
<div class="cover_img_awards">
    <h1>Education</h1>
</div>

<div class="education">
    <h1>Objective</h1>
    <br>
    <h2><i>
      “Education is the most powerful weapon which one can use to change the world”

    </i>
    </h2>
    <br><br>
    <p>
        We recognised that education and awareness are critical components of our project. It has been considered as one of the most essential goals of iGEM is to inform and educate the general public. One of our key missions is to provide education and knowledge
        to people of various ages, social origins, and economic levels through a number of techniques.
    </p>
    <br>
    <p>
        iGEM IITD also aims to integrate Synthetic Biology in the school curriculum of different boards of our country. To achieve this, we plan to reach out to high school students, introducing them to the area of Synthetic Biology and pique their interest in
        its enormous potential.
    </p>
    <br>
    <h1><b>Module Preparation</b></h1>
    <br>
    <p>
        1. <b>Module:</b> We collaborated with IISc Bangalore to create a module on synthetic biology. This module is being developed for use by our team and other iGEM teams to raise awareness of SynBio and iGEM among high school students. This module
        covers fundamental concepts such as the central dogma of life, DNA structure, and so on, as well as information about iGEM and numerous intriguing historical iGEM projects. A number of professors and specialists assessed the module to confirm
        its credibility. We collaborated with numerous school teachers to ensure the quality of the module and refined it through multiple versions. The module was also reviewed by our supervisor.
    </p>
    <br>
    <p>
        2. <b>Assessment Sheet:</b> We developed an assessment sheet to analyse how effective our approach was and how much students understood about Synthetic Biology and its applications from our presentation. The goal of these sheets is to determine
        how much students already know about SynBio and how much their understanding has improved as a result of our presentation. To accomplish this, we created pre- and post-assessment sheets.
    </p>
    <br>
    <p>
        3. <b>Module content and extensiveness:</b> The Education module has been translated into several languages. The module is bright and light-hearted, with simple explanations that avoid complicated and sophisticated jargon as much as possible;
        we also utilise cartoon graphics to represent the models, making the descriptions more pictorial and acceptable.
    </p>
    <br>
    <div class="link-box">
        <p><a href="https://drive.google.com/drive/folders/18uzp4koZwXlNTiAhuQ7FziXV4_NefLBV?usp=sharing">Link to Modules and Assessments</a></p>
    </div>
</div>

<div class="description">
    <h1>
        <b>
      Workshop Outline and Collaboration
    </b>
    </h1>
    <br>
    <p>
        To promote SynBio and its various components among students, We collaborated with other iGEM teams from around the world who are interested in collaborating on issues relating to human practices and education. As part of this project, we encourage other
        iGEM teams to hold a workshop to promote synthetic biology in any institution, university, or school using the iGEM IITD teams' presentations, assessment sheets, and workshop framework. The initiative's objective is to promote synthetic biology
        among students in schools. We want to raise their awareness of this field of research, which involves redesigning organisms for useful reasons, and we are attempting to do so through seminars in various schools. Our team structured the workshop's
        detail plan after much brainstorming. The workshop includes an engaging offline activity inspired by <a href="https://youtu.be/nfC689ElUVk">Genetic Engineering</a>, pre and post assessment sheets, a PowerPoint presentation, and
        an evaluation sheet on student performance (to be filled by iGEM teams people who are conducting the workshop).
    </p>
    <br>
    <h3>
        Offline Sessions with Schools
    </h3>
    <p>
        Our goal was to reach out to various high school students in grades 9th-12th to educate them on Synthetic Biology and forums such as iGEM so that they might pursue SynBio in their future studies. We mailed our proposal to conduct a SynBio workshop to
        various schools in Delhi, we received responses from a few schools as many schools are concerned about who will take these sessions. Finally we conducted offline sessions in two schools.
    </p>
    <br>
    <p>
        The workshop was received well by the students and tried to understand the concept better by asking the team questions. The teachers present during the session had positive feedback as well. The discussion moved from theoretical knowledge of synbio to
        its applications and how one could further pursue the topic. Upon evaluation of assessment sheets, it was noticed that students had a much better understanding on the basis of synbio and its applications in various fields. Not only this, the overall
        feedback reflected a firm keenness to pursue the subject further and also some requests to join the iGEM team! All in all the sessions helped the team not only understand the effectiveness of the approach taken up, but also get a glimpse of the
        onground implementation of our work at iGEM IITD.
    </p>
    <br>
    <h3><b>Reaching out to Educational Boards:</b></h3>
    <p>
        We sought numerous educational boards like CBSE and Delhi Board to integrate synthetic biology into the curriculum of high school students. We engaged the current and past IITD director and dean to create contact with school boards for the long-term integration
        of synthetic biology into the school curriculum and, eventually, to establish Synthetic Biology as an optional subject in the 10+2 classes. We also leveraged our personal contacts. We were able to reach out and discuss our proposal with the office
        of Professor Farkya who is currently heading the Department of Education in Science and Mathematics of NCERT . The National Council of Educational Research and Training (NCERT) is an autonomous organisation set up in 1961 by the Government of
        India to assist and advise the Central and State Governments on policies and programmes for qualitative improvement in school education.
    </p>
    <br>
    <h3><b>Leveraging Social Media</b></h3>
    <p>
        We introduced synthetic biology to our audience in a simple way through social media posts. The goal is to pique people's interest in Synthetic Biology and iGEM.
    </p>
    <br>
    <div style="text-align: center;">
        <img src="https://static.igem.wiki/teams/4428/wiki/team/education1.png" alt="">

    </div>
    <br><br>
    <h3>
        <b>Session in Sardar Patel Vidyalaya:</b>
    </h3>
    <br>
    <p>
        A session was held in SPV, which was attended by almost 300+ high school students. Students in grades 10 and 11 make up the audience. We began with the background of SynBio, then explained DNA, some common biology terms, Crispr, gene editing, etc to the
        students. Then we talked about iGEM and concluded with a Q&A session. The module that we presented to the students sparked their interest in the field of SynBio. The students posed excellent questions, and we are delighted and pleased to respond
        to them. We targeted class 10th students because in India, students choose their stream after 10th, and because many students are unaware of the vast potential of SynBio, they do not choose this subject as an optional, so through this session,
        we also provide career guidance and help students clear any doubts they may have about synthetic biology. To analyse how much students learnt from our session, we gave them a test after handing them a post-assessment sheet with some questions
        from whatever we taught them, and when we assessed the sheets, we discovered that many students clearly understood the majority of what we covered in the session. The instructors from the school who were present in the session praised our work
        and asked if we might hold further sessions or make arrangements for their students to visit our lab and receive a physical taste of synthetic biology. We also used sticky notes to collect quick feedback. A photo of the same is included below.
    </p><br><br>
    <div style="text-align: center;" class="size_ed">
        <img src="https://static.igem.wiki/teams/4428/wiki/awards/ed1.jpeg" alt=""> 
        <br>
        <img src="https://static.igem.wiki/teams/4428/wiki/awards/ed2.jpeg">
        <br>
        <img src="https://static.igem.wiki/teams/4428/wiki/awards/education.jpeg"> 
    </div>
</div>
</article>
{% endblock %}
