{% extends "layout.html" %} {% block page_content %}
<article>
<div class="cover_img_awards hp_cover">
    <h1>Entrepreneurship</h1>
</div>

<div class="entre-index">
    <p><a href="#exe-summary">Executive Summary</a></p>
    <p><a href="#man-ops">Manufacturing Operations</a></p>
    <p><a href="#marketing">Marketing</a></p>
    <p><a href="#milestones">Milestones</a></p>
    <p><a href="#fin-data">Financial Data</a></p>
    <p><a href="#cost">Cost to build the Project</a></p>
    <p><a href="#net-income">Net Income/EBIDTA</a></p>
    <p><a href="#risk">Risk Analysis</a></p>
</div>

<div class="entre-main">
    <div class="empty2"></div>
    <div class="entre-content">
        <div class="education" id="exe-summary">
            <h1>Executive Summary</h1>
            <br>
            <p>
                We are LEADer, a Delhi-based venture developing a bio-engineered lead recovery system to eliminate lead toxicity from water samples. Our first product is a bacterial system for recovery of lead from water. It is capable of effectively removing lead from
                water by the use of an engineered bacteria to bind lead particles to it. Based on consultations with our investors, we are in the process of filing a patent for this technology by December.
            </p>
            <br>
            <p>
                Our initial product aims to target the industrial wastewater processing industry, that in India alone processes 2 Billion Litres of water on a daily basis. This wastewater can be reused by these industries or is disposed of into water bodies. Disposal
                of contaminated water can lead to the contaminants making their way into aquatic and terrestrial ecosystems. These effluents also contain dissolved lead which through the improper water disposal can make its way into the food chain, consequently
                affecting plant growth, drinking water supply and human diseases. Present technologies for lead bioremediation of water include chemical precipitation, adsorption and ion exchange. However these methods involve inefficient lead removal,
                not adhering to the permissible limits and high operating costs. The LEADer technology will reduce operating costs for industrial wastewater treatment and extract valuable lead for reselling in the marketplace.
            </p>
            <br>
            <p>
                The wastewater processing industry is valued at $80 Billion globally, with nearly 12 Billion Litres of industrial wastewater being treated and released into the environment daily. Thus, the unique value proposition of LEADer in its high efficiency and
                economic viability gives us a headstart to capture this massive market potential. We aim to target the Indian market at first and then expand as we consolidate our market share. LEADer is a B2B product based company with a revenue model
                consisting of the sale of the bacterial culture and a bioreactor, which will store the bacteria and wastewater will be passed through it for treatment. Our investor, Premas Biotech is a market leader in the B2B biotechnology space and
                we aspire to leverage their expertise in fine tuning our market entry approach.
            </p>
            <br>
            <p>
                In the first year of operations, 2022, major milestones are to finalize the basic prototype of the technology and patenting the same. By the second year, we would apply for regulatory approvals for the usage of our technology and iterate the prototype
                to achieve a product market fit. By the third year, we would affiliate ourselves with government schemes for commercialization and also raise capital from individuals, corporations and institutions. This will help offset the initial costs
                of production of our product and boost further R&D to create a more versatile bioremediation platform for all types of metals. By the fourth year, based on the initial assessments by the regulatory body, we will launch an aggressive pre-launch
                sales and marketing campaign to acquire prospective customers. Finally, by the sixth year, we hope to generate our initial revenue after the regulatory approvals and capture at least 5-10% of the burgeoning Indian wastewater treatment
                market.
            </p>
            <br>
            <p>
                We aim to revolutionize the entire industrial wastewater processing industry by introducing a state-of-the art lead bioremediation system which can extract harmful lead before disposal of water and lead to reselling of the extracted lead of huge economic
                value. We further intend to scale this technology by heavily investing in R&D, to recover any metal from wastewater and use this technology in other industries like drinking water and others, thus creating a versatile bioremediation platform
                for extracting any metal type with precision, efficiency and economic viability.
            </p>
        </div>
        <div class="description" id="man-ops">
            <h1>Manufacturing Operations</h1>
            <br>
            <p>
                After the lab-scale prototype of the bacterial system has been optimised for effective recovery and compatibility with any specific industrial requirements, we will scale the product fabrication in a manufacturing unit. To achieve this objective, we will
                partner with governmental bodies like the Department Of Biotechnology (DBT), Government Of India which have numerous schemes to fund and support commercialization initiatives. This will be beneficial as this can help us off-set early production
                costs to allow for our products to reach the market faster. Moreso, this will allow us to focus on the technical aspects of our product to deliver the highest value for our customers. The bioreactor which is an essential component of the
                product will be procured independently from a third party manufacturer and we will only be producing the bacteria at scale in the mass production unit.
            </p>
            <br>
            <p>
                As production capacity is saturated, new manufacturing contracts will be established with larger players to maintain profitability while ensuring high growth in the market.
            </p>
            <br>
            <div class="cntr e-img">
                <img src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep1.png" alt="">
            </div>
            <br>
            <p>
                Overview of manufacturing strategy and delivery activities from in-house production to distribution.
            </p>
            <h2><b>Assumptions</b></h2>
            <p>
                The long term storage will be plausible for our engineered bacteria in a lyophilized state without affecting its functioning.
            </p>
            <p>
                A batch mode operation of the bioreactor would take up 24-36 hours for optimal growth of the engineered bacteria.
            </p>
            <p>
                Lyophilization can take 1-2 days thereby affecting our sales turnaround times. So, small batches which are ready for sale need to also be set up.
            </p>
            <br>
            <h2><b>Timeframe</b></h2>
            <p>
                To successfully capture significant market share after regulatory approval, our sales and marketing efforts need to be geared up during the regulatory analysis years, so that an aggressive launch can be done post regulatory approval. Also, all manufacturing
                contracts need to be negotiated in the time phase leading upto the regulatory approval.
            </p>
            <br>
            <h4><b>Advantages - </b></h3>
                <p>
                    <i>Simplicity</i> - The engineered bacteria is the only major product which will be produced by us at scale. The industrial fermenters need to be run at the optimal conditions to facilitate a healthy growth of our bacteria. Further
                    modifications in our product can be easily accommodated in the production unit without altering the existing process.
                </p>
                <br>
                <p>
                    <i>Retaining Control</i> - We aim to tap into the schemes and initiatives of the Government Of India to to establish relationships with key industry manufacturing players. By out-sourcing the non-biological components of the product
                    to such players, we would retain control of our bacterial product while getting the supply of bioreactors at affordable market prices.
                </p>

        </div>
        <div class="how-section" id="marketing">
            <h1><b>Marketing</b></h1>
            <br>
            <p>We aim to become the global market leader and industry specialist in bioremediation techniques using engineered bacteria, for all types of metals in the long run, starting with lead removal.</p>
            <p>
                Objectives:
                <ol>
                    <li>Become the market leaders in providing a lead bioremediation product for industrial wastewater treatment. </li>
                    <li>Build an industry wide network of stakeholders to become the biggest solution for lead bioremediation in the marketplace.</li>
                    <li>Increase product awareness for the engineered bacterial system, LEADer in the marketplace </li>
                    <li>Raise capital from relevant investors and stakeholders to create a more sophisticated platform capable of recovering any metal from wastewater at scale.</li>
                </ol>

            </p>
        </div>
        <div>
            <img style="width: 100%; height:auto;" src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep-swot.png" alt="">
            <br>
        </div>


        <div class="education">
            <h1><b>Target Market Segment Analysis:</b></h1>
            <br>
            <p>
                <b>Primary Target Market:</b> India Wastewater Treatment Industry<br> The India wastewater treatment industry is one of the fastest growing in the world and is poised to reach $4.3 Billion by 2025 ( As per a report from the Government
                Of India)<br><br> LEADer aims to capitalize on a niche in this market as the current wastewater companies do not use any biological methods of remediation. They use mechanical or chemical methods which are costly, ineffective and unsustainable.
                The companies themselves are looking to adopt better solutions which will improve the treatment of water and increase the quantity of their extracted valuable materials. The market size of this industry makes it the ideal market to enter
                first and capitalize with a huge market share. It will also serve as a precedent for us before venturing into tougher and more regulated markets like drinking water filtration.
            </p>
            <br>
            <p>
                <b>Additional Target Market:</b> Drinking Water Filtration<br> This target market holds a lot of potential for the LEADer product as the engineered bacteria can extract lead to the permissible limits in drinking water at unprecedented
                operational efficiency and costs. This can radically transform the working of filtration systems in the drinking water industry. The pricing of our product would be altered to account for the high precision and efficient extraction of
                lead to the low permissible limits in the drinking water industry. We aim to parallely apply for regulatory approval of our product for usage in this industry. After achieving scale in the wastewater treatment industry, we would tap the
                drinking water industry within the next 7-8 years.
            </p>

        </div>
        <div class="description">
            <h1>Marketing Mix</h1>
            <br>
            <h4><b>Product:</b></h4>

            <p>
                The bacterial product LEADer will need to be more efficient at removing lead from wastewater as against other methods in usage. The bioreactor will be designed so that it can process <b>250,000 litres</b> of wastewater daily and will contain
                the correct number of engineered bacteria to ensure that enough lead is removed to comply with the soon to be implemented <b>0.05 mg/L</b> (As per WHO Standards) of lead in treated wastewater. Once the bioreactor is in operation mode,
                there will be sufficient nutrients and organic matter in the wastewater which hasn’t been processed yet which the bacteria can use as an energy source. Every 6 months the LEADer team will perform a service to check the quality and operations
                of the bacteria and the bioreactor.
            </p>
            <br>
            <br>
            <h4><b>Price:</b></h4>
            <p>
                The product consisting of the bioreactor and engineered bacteria will be sold for <b>INR 6,50,000</b>. The total cost of manufacturing the bioreactor and the engineerd bacteira is <b>3,50,000 + 1,70,000 = INR 5,20,000</b>. So, basically
                we hold a net margin of <b>INR 1,30,000 per package of bioreactor</b> and bacteria sold in the market. The annual service package will be priced at <b>INR 1,50,000</b> to maintain the bacterial levels and performance of the bioreactor.
                This intends to cover all fixed and variable costs associated with the servicing aspect of the bioreactors and bacterial culture.<br> The bioreactor functions to keep the bacterial culture isolated as well as to desorb the lead from the
                engineered bacteria. Based on the current levels of lead found in industrial wastewater, an average of 100 mg/L amount of lead can be safely assumed to be present before treatment. To comply with the global WHO regulations, the permissible
                levels of lead in the treated water need to be 0.05 mg/L or atleast 0.1mg/L as per the Indian regulatory standards. We are designing our case using 0.05mg/L as we intend to scale this product on a global scale. So,<br> Amount of lead to
                be removed/recovered from the industrial wastewater
                <br> = Amount of Lead present - Amount of Lead permissible<br> = 100 mg/L - 0.1 mg<br> = 99.9 mg/L ~ 100 mg/L<br> Therefore for the bioreactor processing <b>0.25 MLD OR 250,00 L of water per day</b>, the recoverable lead amount to <b>100 mg/L X 250,000L
          = 25,000 g</b>.<br> Thus the total recoverable lead per a 0.25 MLD bioreactor amounts to 25 Kg on a daily basis.<br> The market value of lead is INR 180 per kg. Thus creating an <b>economic value of 180*25= INR 4500 on a daily basis</b> for
                the industrial customer per bioreactor installed (capacity of 0.25 MLD)<br> This amounts to approximately <b>INR 16,20,000 annually</b> (assuming full operational capacity of the plant over the year). Thus, the customer can easily recoup
                the investment in the LEAder product within a year along with the generation of valuable metal, which is sellable in the marketplace, to further improve their bottom line.
            </p>
            <br><br>
            <h2><b>Promotion</b></h2>
            <br>
            <p>
                LEADer will host its products on a website and other B2B e-commerce marketplaces used by industries for procurement. All necessary information regarding the functioning of the product and its safety standards will be available for the knowledge of the
                customers. We aim to have maximum transparency regarding our product, so as to increase adoption by spreading awareness about the product in the community. Our primary investor and affiliated university, the Indian Institute Of Technology,
                Delhi (IIT Delhi) has massive technological expertise and equipment for us to test our product and ensure the highest standards of safety and reliability. We aim to leverage our investor, Premas Biotech’s enterprise network for reaching
                out to industries for sales and further tap into industry conferences as a promotional and sales strategy.
            </p>
            <br>
            <p>
                Promotion of the bioreactor and engineered bacteria will take place at conferences, which are hosted in India around the world, exhibiting the new technology and advances in wastewater treatment. The International Conference on Advances in Water Treatment
                and Management is one such conference, which would serve as an ideal platform for the promotion of our product. Through these displays we primarily aim to broadcast the effectiveness, economical viability and safety standards of our product
                using an engineered bacteria for lead bioremediation of water.
            </p>
            <br>
            <p>
                In addition to the above, LEADer will also form partnerships with local distributors as a channel to reach out to their customers. So, over the course of the next 3-4 years, we would form the majority of our customer network composed of the major wastewater
                players in India, so as to aggressively launch our product after getting the regulatory approval for the use of our product in wastewater treatment.
            </p>
            <br>
        </div>

        <div class="how-section" id="milestones" style="background-color:#476378;">
            <h1 style="text-align: left;"><b>Milestones</b></h1>
            <br>
            <p>
                We aim to achieve important goals over the next few years to enable a successful commercialisation of our product at scale. To achieve these objectives, we have devised a plan of action to develop a state-of-art technology while focusing on safety, efficiency,
                legal requirements and financial viability. So, here is the outline of our growth strategy over the next five years.
            </p>
            <br>
            <div class="milestones-main">
                <p>
                    Once the basic product prototype is developed by October 2022, LEAder aims to file the patent for protection of our technology. This will be done in consultation with our investors, IIT Delhi and Premas Biotech. Post the filing of the patent, we would
                    also begin the process of obtaining regulatory approvals for the usage of this technology for wastewater treatment, as GMO bacteria can’t be used without regulation for treatment of wastewater. Parallely, we will also develop strong
                    partnerships within the wastewater treatment industry and affiliate with bodies like the Department Of Biotechnology, Government Of India, to avail their incentives for commercialization of this technology. Also, we would be actively
                    involved in raising capital from accelerators, venture capitalists and institutional investors. This would help in preparation for aggressively capturing a large market share during the initial launch of the product.
                </p>
                <img class="mil-main-img" src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep-year12.png" alt="">

            </div>
            <div class="milestones-main" style="text-align: left;">
                <div style="text-align: center;">
                    <img class="mil-main-img" src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep-year34.png" alt="">

                </div>

                <p>
                    Depending on the ongoing assessments and feedback from the regulatory authorities,, we would begin a pilot of the prototype, developed in Year 1. This would involve the iteration of the product based on its design and engineering, to satisfy the industry
                    requirements with efficiency and safety. During this time, partnerships will also be developed with third party manufacturers of bioreactors to help us reach the ideal product market fit. Using our affiliation with governmental bodies
                    and investors, we will also begin assessing possible production facilities and partners for the large-scale manufacturing of this product.

                    <br><br>Sales and marketing campaigns will also be run during this time to engage prospective customers for the future launch of the product. Meanwhile, R&D for the development of a versatile platform capable of recovering any metal
                    from water will continue. To sustain this, further rounds of raising capital will continue.


                </p>

            </div>
            <div class="milestones-main">
                <p>
                    After obtaining the appropriate regulatory approvals for the sale and usage of our product, Year 5 will see the beginning of mass production of our product. We wish to at least capture 25% of the total wastewater market in India, within Year 5-6, using
                    the vast network of prospective customers built by our sales and marketing campaigns over the past few years.
                    <br><br> During this period, we would further accelerate the development of our versatile platform and follow a similar strategy of protection of intellectual property and then applying for appropriate regulatory approvals. We hope
                    to sustain new R&D costs through the revenue generated from the sales of the engineered lead bioremediation bacteria and also seek additional market capital, if required.

                </p>
                <img class="mil-main-img" src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep-year55.png" alt="">

            </div>
        </div>

        <div class="description" id="fin-data">
            <h1><b><center>Financial Data</center></b></h1>
            <div style="text-align: center;width: 100%;">
                <img style="width: 100%; height:auto;" src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep-data.png" alt="">

            </div>
            <p>
                <center>Fig 1: 5 year financial plan</center>
            </p>
        </div>

        <div class="education p-white" id="cost">
            <h1><b>Cost to build the product</b></h1>
            <br>
            <h4><b>Manufacturing Costs: </b></h3>
                <p>
                    The product consisting of the bioreactor and engineered bacteria will cost us:- Cost of manufacturing the <b>0.25 MLD bioreactor - INR 3,50,000</b> and the Cost of producing engineered bacteria for a single <b>0.25MLD bioreactor - INR 1,70,000</b>
                    <br> The total cost of manufacturing the bioreactor and the engineered bacteria is <b>3,50,000 + 1,70,000 = INR 5,20,000</b>
                    <br>The annual service package will be priced at <b>INR 1,50,000</b> to maintain the bacterial levels and performance of the bioreactor. This intends to cover all fixed and variable costs associated with the servicing aspect of the
                    bioreactors.
                    <br>The cost of procurement of the bioreactor (capacity of 0.25 MLD) is estimated to be INR 3,50,000 based on the prevailing market rates in India. This price can be negotiated based on the order volume the supplier would be getting
                    from us. The cost of culturing the required amount of bacteria sufficient for the 0.25 MLD bioreactor is estimated to be <b>INR 1,70,000</b> based on our following calculations. The expected capacity of the PbrR-displayed cells in
                    the final engineered product is 17.9 micromoles of lead per gram of bacterial cells. This data has been sourced from the report here.
                    <p> Based on the current levels of lead found in industrial wastewater, an average of 100 mg/L amount of lead can be safely assumed to be present before treatment. To comply with the global WHO regulations, the <b>permissible levels of lead</b>                        in the treated water need to be <b>0.05 mg/L or atleast 0.1mg/L</b> as per the Indian regulatory standards. We are designing our case using 0.05mg/L as we intend to scale this product on a global scale. So,
                    </p>
                    <p>Amount of lead to be removed/recovered from the industrial wastewater =
                    </p>
                    <p>
                        Amount of Lead present - Amount of Lead permissible
                    </p>
                    <p>
                        = 100 mg/L - 0.1 mg
                    </p>
                    <p>
                        = 99.9 mg/L ~ 100 mg/L
                    </p>
                    <p>
                        Therefore for the bioreactor processing 0.25 MLD OR 250,00 L of water per day, the <b>recoverable lead amount to 100 mg/L X 250,000L = 25,000 g = 25 kg</b>
                    </p>
                    <p>
                        Thus, the total amount of cells required to be cultured per bioreactor were found using the above data. Now, the total cost of manufacturing would include:-
                    </p>
                    <p>
                        <b>1. Fixed</b>
                        <ul>
                            <li>Land</li>
                            <li>Industrial Fermenters</li>
                        </ul>
                        <br>
                        <b>2. Variable</b>
                        <ul>
                            <li>Consumables</li>
                            <li>Electricity</li>
                            <li>Salary / Wages</li>
                            <li>Accounting / Legal</li>
                        </ul>
                    </p>
                    <p>
                        Based on our estimates from our prototype development in the laboratory and through some confidential data obtained from our investors, the above calculations to find the total manufacturing cost were done. These were adjusted as per the expected market
                        share we could potentially capture by Year 4 and Year 5. Finally, these were scaled down based on the production capacity of the unit to find the final cost of producing a bacterial culture sufficient for one 0.25 MLD bioreactor,
                        which comes out to be <b>INR 1,70,000</b>
                    </p>
                </p>
                <br>
                <h3><b>Research And Development Costs:</b></h3>
                <p>
                    As per our research from financial statements of public biotechnology companies and recommendations from our investors, the R&D costs for subsequent years have been estimated to be <b>approximately 30% of the revenue</b> which is in
                    accordance with the industry standards. Further, in our financial projections ( shown in figure 1), these R&D costs have been adjusted around this 30% mark in subsequent years based on our future product development as we further intend
                    to scale this technology to ultimately recover any type of metal from wastewater and use this technology in other industries like drinking water and others, thus creating a versatile bioremediation platform for extracting any metal
                    type with precision, efficiency and economic viability.
                </p>
                <br>
                <h4><b>Other Expenses: </b></h4>
                <p>
                    In addition to the manufacturing costs of the engineered bacteria, the procurement costs of the bioreactor and the R&D costs, there are other costs which need to be considered : -
                </p>
                <p>
                    The numbers for all these costs have been estimated as per the industry standards, in consultation with our investors.
                </p>
                <h4><b>Salary and Wages</b></h4>
                <p>
                    Highly skilled graduates from top universities and corporations need to be hired to provide the technical and professional expertise to successfully implement this technology on such a large scale.
                </p>
                <h4><b>Accounting / Legal</b></h4>
                <p>
                    Given the several regulatory barriers that need to be navigated before the commercialisation of the product, an adept team would be required and the resources for their functioning need to be provided. Also, there might be some legal challenges that LEADer
                    could face after the launch of the product if some mishap occurs due to the presence of GMO in wastewater.
                </p>
                <h4><b>Marketing</b></h4>
                <p>
                    LEADer needs to form partnerships with several manufacturers and wastewater treatment plants , so as to aggressively launch our product after getting the regulatory approval for the use of our product in wastewater treatment. A lot of resources will be
                    required to achieve visibility and generate sales leads in the Indian wastewater treatment industry.
                </p>
                <h4><b>Travel</b></h4>
                <p>
                    These costs will be associated with the mobility of the LEADer team for various endeavors including product pilot, attending conferences, sales, marketing etc.
                </p>
                <h4><b>Miscellaneous</b></h4>
                <p>
                    Other miscellaneous costs which the company will be bearing are included in this segment.
                </p>
                <h4><b>Revenue Model (Post Regulatory Approval by Year 4): -</b></h4>
                <p>
                    The product consisting of the bioreactor and engineered bacteria will be sold for <b>INR 6,50,000</b>. The total cost of manufacturing the bioreactor and the engineered bacteria is <b>3,50,000 + 1,70,000 = INR 5,20,000</b>. So, basically
                    we hold a <b>net margin of INR 1,30,000</b> per package of bioreactor and bacteria sold in the market.
                </p>
                <p>
                    The annual service package will be <b>priced at INR 1,50,000</b> to maintain the bacterial levels and performance of the bioreactor. This intends to cover all fixed and variable costs associated with the servicing aspect of the bioreactors
                    and bacterial culture.
                </p>
                <p>
                    The bioreactor functions to keep the bacterial culture isolated as well as to desorb the lead from the engineered bacteria. Based on the current levels of lead found in industrial wastewater, an average of 100 mg/L amount of lead can be safely assumed
                    to be present before treatment. To comply with the global WHO regulations, the permissible levels of lead in the treated water need to be 0.05 mg/L or atleast 0.1mg/L as per the Indian regulatory standards. We are designing our case
                    using 0.05mg/L as we intend to scale this product on a global scale. So,
                </p>
                <p>
                    Amount of lead to be removed/recovered from the industrial wastewater =
                </p>
                <p>Amount of Lead present - Amount of Lead permissible </p>
                <p>= 100 mg/L - 0.1 mg </p>
                <p>= 99.9 mg/L ~ 100 mg/L </p>
                <p>
                    Therefore for the bioreactor processing 0.25 MLD OR 250,00 L of water per day, the recoverable lead amount to 100 mg/L X 250,000L = 25,000 g
                </p>
                <p>
                    Thus the total recoverable lead per a 0.25 MLD bioreactor amounts to 25 Kg on a daily basis.
                </p>
                <p>
                    The market value of lead is INR 180 per kg. Thus creating an economic value of 180*25= INR 4500 on a daily basis for the industrial customer per bioreactor installed (capacity of 0.25 MLD)
                </p>
                <p>
                    This amounts to approximately INR 16,20,000 annually (assuming full operational capacity of the plant over the year). Thus, the customer can easily recoup the investment in the LEAder product within a year along with the generation of valuable metal,
                    which is sellable in the marketplace, to further improve their bottom line.
                </p>
                <p>
                    At present, we plan on only charging a fixed price based on the product package we offer consisting of the bioreactor and the engineered bacteria. At the time of product launch, the revenue model may include a variable component charging the customers
                    1-2% fees of the total economic value they generate from the metal extracted from the wastewater.
                </p>
                <p>
                    So, based on the above assumption of following a <b>fixed pricing model</b> only, we expect to capture <b>0.1% of the $4.3 Billion Indian wastewater treatment market</b> after the regulatory approval in Year 4, resulting in a revenue
                    of <b>INR 87,44,00,000</b> (OR $10.93 Million) from the <b>sales of 576 bacteria containing bioreactors</b>. Moving into Year 5, we expect to capture at least 0.5% of the same market, resulting in a revenue of at least <b>INR 4,87,20,000 (OR $60.9 Million)</b>                    from the sales of <b>2880 bacteria containing bioreactors</b>. This has been shown in the attached financial statement for a better understanding.
                </p>

        </div>

        <div class="description" id="net-income">
            <h2><b>
          Net Income/EBIDTA (Before Taxes)
        </b></h2>
            <br>
            <div class="cntr">
                <img src="https://static.igem.wiki/teams/4428/wiki/entrepreneurship/entrep-graph.png" alt="">
            </div>
            <br>
            <p>
                The first 3 years without any sales revenue would be sustained by the investments received from investors based upon the increasing valuation of LEADer as we get closer to patenting the technology and also getting the required regulatory approvals. From
                Year 4 onwards, the first revenue from sales would be generated but would be significantly outbalanced by the costs of manufacturing and the R&D costs as shown in the attached financial statement. But from Year 5 onwards, as we capture
                a larger market and progress towards reaching economies of scale, the net income/ EBITDA is expected to be at least $1305 K OR $1.3 Million.
            </p>
        </div>
        <div class="how-section" id="risk">
            <h1>Risk Analysis</h1>
            <br>
            <p>
                There are a wide variety of risks that we could encounter. The key to managing these risks is to understand the possibility of them occurring and plan carefully as to how we would mitigate each risk should it arise. There are many different types of risks
                that we could face including legal, financial, technological & operational, market, people and systemic risks.
            </p>
            <br>
            <h3><b> Legal risk : </b></h3>
            <br>
            <p>
                Since we are using genetically engineered bacteria to serve our purpose, there is a concern of possible exposure of these bacteria to the environment, so to bring our project to be available for public use we need to take necessary safety and technology
                approval.
            </p>
            <br>
            <p>
                This concern was kept in mind while proposing our processes for wastewater treatment. Adding microbes in water can also be harmful so we planned to immobilize the genetically engineered cells and allow water to pass through it, so that lead gets recovered
                and water is not infected by E. Coli. In case there are some time related or financial challenges that may prevent us from obtaining a regulatory approval, we would need to deploy a different market entry strategy, possibly targeting groups
                and corporations outside the regulatory scope of the government. This can sustain LEADer while we try our best to obtain the required approvals.
            </p>
            <br>
            <p>
                Other than regulatory measures, we have a potential risk of lawsuits filed against us. To counter such situations we would be purchasing business liability/ product liability insurance providing us blanket cover in terms of legal battles. Also, our ultimately
                priority would be to honour all contracts with manufacturers and customers to maintain their loyalty towards us which will help us scale LEADer to more industries.
            </p>
            <br>
            <h3><b>Market risk : </b></h3>
            <p>
                As our product makes use of genetically engineered cells, we have taken every step possible to ensure that our final product will be safe to use and will not pose any environmental concerns. However, there is a high possibility that apprehensions in the
                public domain about using genetically modified organisms will result in lower adoption of our technology. To mitigate such risks, we talked to multiple stakeholders to explore more about the views about our product and possible changes
                to be made to lessen the market issues. We also organised several awareness programmes with the help of NGOs and schools to make people aware about the scope of synthetic biology in general and about our product in particular.
            </p>
            <br>
            <p>
                Another market risk we could face is that industries producing waste products containing lead, simply dilute the waste with water to decrease the concentration and do nothing to recover or remove lead. This would be a fast, easy and cheap solution for
                them as compared to the bacteria-based bioremediation method that needs high maintenance and must be used precautiously. And there is a high chance that wastewater treatment plants may not be willing to change their already setup machines
                and mechanisms to a new mechanism which needs more maintenance and precautions. So, to tackle this problem we need to educate them about the benefits and high efficiency of bioengineering in water treatment, while sensitising them about
                the wasteful use of water in their operation, with the help of government bodies and NGOs.
            </p>
            <br>
            <h3><b>Technological and operational risks: </b></h3>
            <p>
                These s are also major risks for our product as we are working with a biological system. At any phase of our project we can face any kind of unforeseen problem like regulatory or technological limitations. Several milestones need to be achieved in the
                following years for successful commercialisation. If any of these milestones is not reached on time or is operationally hard to reach, then we may have to rework our entire finances, investment deals, operating capacity and future R&D
                outlook. Although we have achieved a proof of concept for lead recovery using our engineered bacteria, there exist subsequent stages of a commercial product pilot and modifying the product, if necessary to meet the precise industry requirements.
                Depending on the requirements, these stages may come with their own challenges, hence we have deployed an implementation strategy that would enable us to make the core technology initially and allow us the bandwidth to make suitable modifications
                as needed.
            </p>
            <br>
            <h3><b>Financial Risks  :  </b></h3>
            <p>
                Financial risk is very significant to us, especially for research and development as well as the large scale production of the engineered bacteria. There is always a risk of not getting sufficient funding for each component. For battling such risks, we
                have planned a comprehensive budget and funding strategy for the next five years. This should help us achieve the required capital to meet different expenses related to R&D, production and operations. Our sales and marketing efforts in
                Year 4 and Year 5 have been meticulously planned to capture the industrial wastewater market aggressively to generate significant revenues and maintain our bottom line. This will help us become financially self-sustainable as we continue
                to grow in the following years. As a contingency plan, we can suspend all Research and Development activities in some situations to save financial resources for other production/operating expenses.
            </p>
        </div>
    </div>
</div>
</article>


{% endblock %}
