{% extends "layout.html" %}

{% block page_content %}
<article>
<div class="cover_img_parts img_hp">
    <h1>Guide</h1>
</div>

<div class="whiteBlock">
  <p class="para">Human practices were one of our main focuses while designing the project. It was about putting our
    ideas into practice and seeing what impact our product could make by interacting with renowned personalities and
    potential users and conducting surveys. Additionally, it was to take benefit of community knowledge and broaden our
    horizon of knowledge by keeping the following things in mind:</p>
  <ol class="para">
    <li>
      Ensure connectivity: Science needs proper global connectivity. You should go outside the lab and involve the
      general public to increase everyone's access to science, regardless of their background or education.
    </li>
    <li>Two-way Communications: Your communications with people shouldn't always be one-way. Instead, it should be a
      mutual learning experience as you can learn how aware people are of the issue you are tackling, what kind of
      products stakeholders will use, and a lot more.</li>
    <li>Integration: Educational outreach activities aren't sufficient to ensure that your project's ideas are conveyed
      to the public, so you should think of creative ways to ensure it. Like we designed a pre and post-session survey
      to study the rise in people's awareness.
    </li>
  </ol>
</div>

<div class="blueGreyishBlock">
  <p class="para">To work on the above, iGEM IITD identified 4 key verticals under their project with multiple goals and
    initiatives under each.
  </p>
  <ol class="para">
    <li>Education</li>
    <li>Awareness</li>
    <li>Stakeholder Interaction</li>
    <li>Inclusivity & Diversity</li>
  </ol>
</div>

<div class="whiteBlock">
  <p class="para">Under each vertical, we set up goals to ensure the following;
  </p>
  <ol class="para">
    <li>Asking the right questions and asking them to the right people
      <ul>
        <li>Isolating questions which need to be answered, i.e. prioritizing initiatives
        </li>
        <li>Identifying relevant stakeholders under each and ensuring that we take feedback from both; people who are
          affected by the project and people who have specialized knowledge of the field
        </li>
        <li>Methods of reaching out to identified stakeholders: This includes surfing online for relevant bodies or
          boards who can give us access to such people, followed by reaching out through personal contacts or mails or
          through a call</li>
      </ul>
    </li>
    <li> Integrating feedback from the stakeholders
      <ul>
        <li>Once an understanding is gained of the problem at hand we look towards how we can address it
        </li>
        <li>Look at what past teams have done and what new ideas have come up to understand the vast number of
          possibilities that exist
        </li>
        <li>Narrowing down on an initiative on the basis of; effectiveness, feasibility, time cost benefit and resource
          benefit analysis
        </li>
      </ul>
    </li>
    <li>Implementation of Initiatives
      <ul>
        <li>Breaking down each initiative into subtasks and setting short deadlines against each tasks helps break down
          the task at hand and makes it seem more feasible</li>
      </ul>
    </li>
    <li>Deriving results from every initiative
      <ul>
        <li>Result and feedback are two important things to take away from any initiative. Once a task is completed, it
          is imperative to study the results to understand how one can proceed. For thiswe can answer two questions:
          <ol>
            <li>Are the results satisfactory? If not, can we pivot this and run another iteration
              for the task?
            </li>
            <li>Is there scope for future expansion? Can this be further molded into a new
              initiative?</li>
      </ul>
    </li>
  </ol>
  </li>
  </ol>
</div>

<div class="blueExperimentDataBlock">
  <p class="para">Now we are to share our experience from the unique situation that future teams might also encounter.
  </p>
  <p class="para">1. Now we are to share our experience from the unique situation that future teams might also
    encounter.
  <ol type="a" class="para">
    <li>What are the reasons for not having easy access?
      <ol type="i">
        <li>Stakeholders are not aware of the problem itself. Even though they are
          affected by it, this unawareness makes it difficult for us to get actionable
          input in a realizable timescale.
        </li>
        <li>Stakeholders we want to interact with may have low connectivity, so they
          may be difficult to reach in the timescale of our project.
        </li>
        <li>You don't have enough resources to conduct an effective survey to get
          actionable input for your project.</li>
      </ol>
    </li>
    <li>So what is a solution?
      <ol type="i">
        <li>Try finding experts with comprehensive knowledge of the problems you
          are trying to solve. Interact with them to get actionable inputs. This is
          because these experts may already have done the analysis we were trying
          to do by contacting the primary stakeholders initially, as per the previous
          question. And these experts are easy to reach as well because of their
          better connectivity and common interest. Most academics and
          policymakers have their contact info on their websites.
        </li>
        <li>Rigorously go through existing surveys and interviews available on the
          web to find the inputs you can use to design your project.
        </li>
      </ol>
    </li>
  </ol>
  </p>
</div>

<div class="whiteBlock">
  <p class="para">2. How to make your project more acceptable?
  <ol type="a" class="para">
    <li>Since the teams working in iGEM are making synthetic biology projects, there
      are still many areas in the world where people do not have confidence in
      synthetic biology or may even be hesitant about it. So we can make our project
      more acceptable as a solution in the long term, we must aim to increase the
      awareness of people around us.
    </li>
    <li>Try to prioritize the educational initiatives tapping the school-going children
      and teachers. The rationale behind this is that we want the future generation to
      be more aware of a tool called synthetic biology, which can be vital in solving
      problems such as climate change and some other significant issues. While
      designing the material for these educational initiatives, try not to glorify
      synthetic biology; instead, make them aware of the realistic situation by
      including the associated bio-safety issues. This can go on in the future to
      initiate fruitful debates, which can help increase synthetic biology's foundation
      and confidence in the country instead of forming a cult around it. At the same
      time, include examples from existing iGEM projects that concern the local
      problem related to your region. For instance, we extensively cited the Team
      Ruuia-Mumbai 2018 Catecholing Coli project to increase curiosity in synthetic
      biology among students. </li>
    <li>Try reaching out to authorities deciding on school curricula in your country and
      pursue them to introduce comprehensive information on synthetic biology in
      the school syllabus. In our case, we contacted NCERT for the same.
    </li>
    <li>To make your science accessible for all, try to make your website colourblind friendly along with an audio conversion tool for the visually impaired. Making your websites mobile friendly may also increase their reach to rural areas where people might not have access to computers. Also try to make your content available in multiple languages to ensure your science reaches the most number of people.
    </li>
  </ol>
  </p>
</div>
</article>
{% endblock %}
