{% extends "layout.html" %}

{% block page_content %}
<article>
<div class="cover_img_awards">
  <h1>Inclusivity and Diversity</h1>
</div>

<div class="whiteBlock">
  <p class="para">
    Team IIT-Delhi’s iGEM journey started when a group of individuals came together to discuss an increasingly
    disconcerting array of cases and statistics of lead poisoning, a massive proportion of which arise from India. The
    diversity in our team is one of its biggest perks. Each member of our team comes from a different part of the
    country, from different backgrounds, and speaks different languages, all united by a common theme- <b> a goal to
      solve
      the global environmental problem of Lead Poisoning and alleviate the plight of those prone to it.</b> <br> <br>
<div class="cntr">
  <img src="https://static.igem.wiki/teams/4428/wiki/awards/map.png">
</div>
<br><br>
<p class="para">
    The team itself upholds the true meaning of diversity and inclusivity by having a balanced representation from all
    parts of the country. Moreover, the team demonstrates a nearly equal gender distribution with around <b> 45% female
      members.</b> Bringing in the strengths and knowledge from <b> different disciplines</b>, our team comprises
    students from
    multiple majors, including <b>Biotechnology, Computer Sciences, Physics, and Civil,</b> amongst others. In our team
    we have
    people from different institutes, with a member of our team coming from BITS Pilani.
    <br> <br>
    <b> Collaboration and Partnerships </b> <br>
    Realizing the true motivation behind a global competition, team IIT-Delhi takes pride in the connections they have
    built over time. Along the way, the team has collaborated and partnered with various teams, sustaining a mutual
    exchange of strengths and information.
    <br><br>
    IIT Delhi has collaborated with <br>
    1. VIT Vellore <br>
    2. iGEM Patras <br>
    3. REC Chennai <br>
    4. University of Waterloo <br>
    The details of the collaborations can be found on the Collaborations Page.
    IIT-Delhi has also partnered with team IISc Bangalore through their journey. The details of the Partnership can be
    found on the Partnership page under Project.
    <br><br> <b>
      Initiatives for Inclusivity
    </b> <br><br>
    Apart from the team composition, IIT-Delhi has also taken multiple initiatives to promote inclusivity and diversity
    for people outside of the iGEM team. Some initiatives undertaken by the team are:
    <br> <br>
    1. <b>People with Visual Impairment: </b> An audio conversion tool has been incorporated on the team’s wiki page for
    converting
    text to audio to help the visually impaired get access to the information on our wiki. <br>
    2. <b> Promotional Video:</b> The promotional video was translated in 12 languages- English, Hindi, Marathi,
    Devnagiri,
    Malayalam, Telugu, Bengali, Punjabi, Gujarati, Tamil, French, Spanish, and Portuguese. <br>
    3. <b> Education Module: </b>We created a bilingual education module to raise awareness about synthetic biology to
    high
    school
    students. All the material that we circulated was translated into multiple languages. <br>
    4. <b> Global Survey:</b> We launched a global survey to analyze our community's awareness of lead poisoning. The survey was meant to gauge the awareness of the issue beyond the boundaries of our locality and take into account diverse socioeconomic, political and structural backgrounds. <br>
    <div class="cntr qr">
      <img src="https://static.igem.wiki/teams/4428/wiki/implementation/qr-survey.png">
      <br>
      <p class="caption"><a href="https://forms.gle/Bk4WNpV6yevdEajh8">Global Survey</a></p>
    </div>
    <p class="para">
    5. <b>Volunteering Opportunities:</b> iGEM is a wonderful experience for all SynBio enthusiasts. However, in India, currently, only a few institutions are equipped with laboratory equipment, trained faculty and funds to be able to participate in the competition. This often holds back a lot of motivated students who do not have access to these resources to get the chance to experience iGEM. Understanding this struggle, we opened the opportunity for SynBio enthusiasts from other institutions to volunteer in our project to get first-hand experience in the field. We had a volunteer each in dry lab and human practices division respectively from other institutions.<br></p>
  </p>
</div>
</article>
{% endblock %}
