{% extends "layout.html" %} {% block page_content %}
<article>
<div class="title">
    <img class="title-image" src="https://static.igem.wiki/teams/4428/wiki/index/leader-final.png" alt="LEADer">
    <!-- gold medal start -->
    <div id="container">
      <div id="circle">
        <svg enable-background="new 0 0 300 300" height="400px" version="1.1" viewBox="0 0 300 300" width="400px" x="0px" xml:space="preserve" y="0px">
            <defs>
                <path d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 " id="circlePath"></path>
            </defs>
            <circle cx="100" cy="100" fill="none" r="30"></circle>
            <g>
                <use fill="none" xlink:href="#circlePath"></use>
                <text fill="#fff">
                    <textPath xlink:href="#circlePath">
                      Gold Medalist • iGEM IIT Delhi •
                    </textPath>
                </text>
            </g>
        </svg>
      </div>
      <img alt="Gold medal" src="https://static.igem.wiki/teams/4428/wiki/gold-medal.png">
    </div>
    <!-- gold medal end -->
</div>

<div class="threat-section">
    <div class="index-box1">
        <div>
            <h1 class="heading1">Lead poses a <br>Worldwide <br>Health <br>Emergency</h1>
        </div>
        <div class="text1">
            <p>Lead is estimated to have killed 540,000 people globally in 2016.</p>
            <p>In October 2021, CDC revised the Blood Lead Reference Level from 5 μg/dL to 3.5 μg/dL for the first time in 10 years suggesting that this problem had been drastically underestimated.</p>
        </div>

    </div>
    <div class="threats-div">
        <div class="threat-div">
            <img class="threat-image" src="https://static.igem.wiki/teams/4428/wiki/index/index/threat.png" alt="">
            <p>1 in 3 children worldwide are affected by Lead</p>
        </div>
        <div class="threat-div"><br>
            <h1>275 million+</h1><br>
            <p>Children in India affected by the ill effects of Lead</p>
        </div>
        <div class="threat-div"><br>
            <h1>800 million+</h1><br>
            <p>Children worldwide affected by the ill effects of Lead</p>
        </div>
    </div>
</div>




<!-- Economic Implication Section -->
<div class="economic-implication-section">
    <h1>Economic Implications</h1>
    <div class="economic-text">
        <p>
            It is estimated that diminished IQ in lead-poisoned children results in a loss of $236.1 billion (12.5% of India’s GDP) in economic productivity every year. 21.7 million of healthy life is lost to Lead poisoning which translates into a cost of $977 billion
            (range $728.6–1162.5 billion) of international dollars.
        </p>
        <img src="https://static.igem.wiki/teams/4428/wiki/index/index/lead.png" alt="">
    </div>
    <br><br>
</div>


<!-- Problem and Solution Section -->
<div class="problem-solution-section">
    <div class="problem-div">
        <h1>Problem</h1><br>
        <p>
            Current methods of recovery are inefficient and uneconomical at the low concentrations of lead present in groundwater and wastewater, but even these low concentrations are harmful to life forms.
        </p><br><br>
        <div class="icons">
            <img src="https://static.igem.wiki/teams/4428/wiki/index/index/problem1.png" alt="">
            <img src="https://static.igem.wiki/teams/4428/wiki/index/index/problem2.png" alt="">
            <img src="https://static.igem.wiki/teams/4428/wiki/index/index/problem3.png" alt="">
        </div>
    </div>
    <div class="solution-div">
        <div class="icons">
            <img src="https://static.igem.wiki/teams/4428/wiki/index/index/sol1.png" alt="">
            <img src="https://static.igem.wiki/teams/4428/wiki/index/index/sol2.png" alt="">
            <img src="https://static.igem.wiki/teams/4428/wiki/index/index/sol3.png" alt="">
        </div>
        <br><br>
        <h1>Solution</h1><br>
        <p>
            We develop a comprehensive solution to lead contamination and poisoning by addressing two needs - the accurate detection of lead and its remediation.
        </p>
    </div>
</div>

<div class="how-section">
    <h1>How we do it ?</h1>
    <p>
        We engineer bacteria to express lead-binding proteins on its cell surface to recover lead from water by trapping it. This lead can later be recycled.
    </p>
    <br>
    <div class="how-image">
        <img src="https://static.igem.wiki/teams/4428/wiki/index/index-how.png" alt="">
    </div>
    <br>
    <p>
        We will develop a frequency-based whole-cell biosensor, better than traditional intensity-based biosensors with easily digitised frequency, robustness to beam power and exposure time, decoupled from growth state of individual cells, hence having greater accuracy.
    </p>
    <br>
</div>

<div class="implications">
    <h1>Implications</h1>
    <div class="horizontal-line"></div>
    <br>
    <div class="one">
        <h1>1</h1>
        <div class="implication-box">
            <p>
                Safe and clean lead-<br>free water.
            </p>
        </div>
        <img src="https://static.igem.wiki/teams/4428/wiki/index/imple-1.png" alt="">
    </div>
    <div class="one">
        <h1>2</h1>
        <div class="implication-box">
            <p style="margin: 7% auto;"> Recycled lead.
            </p>
        </div>
        <img src="https://static.igem.wiki/teams/4428/wiki/index/imple-2.png" alt="">
    </div>
    <div class="one">
        <h1>3</h1>
        <div class="implication-box">
            <p>
                Democratised access to <br> monitoring of lead.
            </p>
        </div>
        <img src="https://static.igem.wiki/teams/4428/wiki/index/imple-3.png" alt="">
    </div>
</div>

</article>

{% endblock %}
