{% extends "layout.html" %}

{% block page_content %}
<div class="cover_img_parts">
    <h1>Protocols</h1>
</div>

<div class="whiteBlock protocols">
    <h3>Lead Adsorption Analysis</h3> <br>
    <p class="para"></p>
    <ol class="para">
        <li>Incubate a culture of plysS + plasmid with the required insert in 5 mL of LB with suitable antibiotics,
            overnight at 37℃ at 180 rpm (primary inoculation).
        </li>
        <li>Use 50 μL of the above culture as inoculum and inoculate another 5 mL of LB having suitable antibiotics and
            incubate at 37℃ at 180 rpm till OD reaches 0.3-0.4 (secondary inoculation).</li>
        <li>Once OD reaches 0.3-0.4, collect and store (at 4℃) a 1 mL sample in a sterile MCT before inducing the
            culture with 5 μL of IPTG and further incubating it at 37℃ at 180 rpm.</li>
        <li>Collect and store (at 4℃) a 1 mL sample after 3 hours, 5 hours and overnight of incubation after induction
            each.</li>
        <li>For each of the collected samples, pellet down the cells by centrifugation.</li>
        <li>Collect the supernatant in a separate tube and save the pellet.</li>
        <li>Suspend the pellet in 80μL dye and 80μL of the supernatant in 20μL dye.</li>
        <li>Heat both of them at 95℃ for 10 minutes.</li>
        <li>Centrifuge both of them at 12000 rpm for 10 minutes.</li>
        <li>Perform Agarose gel electrophoresis of 16-17μL of each of the two samples.</li>
    </ol>
</div>


{% endblock %}
