{% extends "layout.html" %} {% block page_content %}

<article>
<div class="cover_img_parts">
    <h1>Notebook</h1>
</div>
<div class="horizontal-group">
    <div class="white-div">
        <h1>Week 1</h1><br>
        <p>
            We started work in the wet lab in the first week of April. With a lot of us starting off in the lab for the first time, independent lab work was a daunting task in itself. However, under the supervision of our Advisor, we dedicated the first couple of
            weeks to learning lab etiquette and safety and security protocols. In the first week, we prepared the cloning strategy while simultaneously learning all the precautions, safety guidelines, lab etiquette, and equipment usage.
        </p>
        <br>
    </div>
    <div class="blue-div">
        <h1>Week 2</h1><br>
        <p>
            During this week, we designed the primers and ordered them following an intensive literature review. We also ordered the plasmids required- pEPR1, pSR2, pPS17, and pRSG43. We organized the reagents and streaked plates. For this, we prepared LA and poured
            it on plates. We used LA for streaking of <i> E. coli </i> DH5ɑ cells, LA+Kan50 for pEPR1, pSR2, and pRSG43, and LA+spec40 for pPS17. Further, we inoculated tubes of pEPR1 in LB. We then kept the tubes in an incubator at 37ºC at 180 rpm.
        </p>
    </div>

</div>

<div class="horizontal-group">
    <div class="blue-div">
        <h1>Week 3</h1><br>
        <p>
            From the tubes inoculated by us, we performed plasmid isolation of pEPR1 to obtain a stock of isolated plasmids for use in the biosensor. We checked for the proper isolation of the plasmids by performing gel runs on 1% agarose gel with EtBr as the staining
            dye. We also checked the concentrations of the isolated plasmids on the nanodrop. The plasmid was stored at 0ºC for use later.

        </p>
        <br><br><br>
    </div>
    <div class="white-div">
        <h1>Week 4</h1><br>
        <p>
            We continued the isolation of plasmid pEPR1. Further, we also received the ordered primers for PbrR- P1 to P12. We started with the overlap extension PCRs of the primers. We set up OE PCRs of P1-P2, P3-P4, P5-P6, P7-P8, P9-P10, and P11-P12. We confirmed
            the correct overlap by running the samples on 2% agarose gel and comparing the sizes.
        </p>
        <br><br><br><br>
    </div>

</div>
<div class="horizontal-group">
    <div class="white-div">
        <h1>Week 5</h1><br>
        <p>
            Overlap extensions from templates derived in the previous week were set up. The reactions were now set for P1-P4, P5-P8, and P9-P12. The results were checked on 2% agarose gel. Simultaneously, another batch of step 1 OE PCRs were set up again to keep
            a stock ready.
        </p>
        <br><br><br><br>
    </div>
    <div class="blue-div">
        <h1>Week 6</h1><br>
        <p>
            The final OE PCR was set up for P1-P12, however, upon gel run, the size did not match with the required size. Another PCR was set from the remaining stock left from the previous templates. Simultaneously, the step 2 OE PCR was set up for the second batch.
            The final step was also set up for the second batch.
        </p>
        <br><br><br>
    </div>

</div>
<div class="horizontal-group">
    <div class="blue-div">
        <h1>Week 7</h1><br>
        <p>
            The results were now visualized on 12% PAGE for better resolution and comparison of sizes. pEPR1 was set up for digestion using enzymes NsiI and XbaI. Simultaneously, competent cell solutions were prepared. The digestion was checked by running the sample
            on 1.5% agarose gel and looking for a linearized band. Since the restriction sites of NsiI and XbaI were too close, the release could not be seen visually on the gel. <i> E. coli </i> DH5ɑ was inoculated in 2% 5mL LB and left in the incubator at 37ºC
            at 180 rpm on Saturday.

        </p>
    </div>
    <div class="white-div">
        <h1>Week 8</h1><br>
        <p>
            Batches of competent cells were prepared every alternate day, and their transformation efficiency was checked. The first batch of competent cells was prepared on the third try after 2 failed attempts. These were then stored at -80ºC. Simultaneously, OE
            PCR reactions were continued. Due to the inability to see a release, sequential digestion was performed for the vector with enzymes NsiI and XbaI. The digestion was finally successful on the fourth attempt. Insert digestion was set up using
            enzymes NsiI and XbaI.
        </p>
    </div>

</div>
<div class="horizontal-group">
    <div class="white-div">
        <h1>Week 9</h1><br>
        <p>
            OE PCRs were set up continuously, and competent cell preparation, and vector digestion were also done every day to prepare stock. First cycle of ligation-transformation was set up using the prepared vector and insert digest. No colonies were observed
            on plating. Thus, the experiment cycle was repeated due to lack of results.

        </p>
        <br><br><br><br>
    </div>
    <div class="blue-div">
        <h1>Week 10</h1><br>
        <p>
            We started preparing our plasmid pEPR1, starting its isolation followed by its digestion. The DH5a competent cells were prepared and transformation efficiency was checked which yielded an empty plate. The OE PCRs results were observed on 12% PAGE gels.
            The fragments F5-F6, F7-F8, and F9-F10 were successful as seen in the picture. PAGE gel was then washed with RO water wrapped in a paper towel and stored in the freezer at 4ºC.

        </p>
        <br><br>
    </div>

</div>

<div class="blue-bg">
    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/dna-page.png" alt="">
</div>
<h1 class="week11-head">Week 11</h1>
<div class="week11">

    <div class="week11-left">
        <div class="week11-left-text">


            <p>
                PCR was set for PbrR promoter,but as we didn't know the optimal annealing temperature we set it for three different annealing temperature-60,61,62.
            </p>
            <br>
            <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/results-gel-run.png" alt="">
        </div>
        <div class="vertical-line"></div>

    </div>

    <div class="week11-right">

        <p>
            The insert was digested by different methods- <br>i) Double digesting it with NsiI and XbaI <br>ii) Double-step single digestion. <br>This was done to optimize the digestion protocol and to check if both the enzyme were properly digesting
            the plasmid in 2hrs, which was found to be true. <br><br>Transformation efficiency was performed 3 times, and we found colonies 2 times. We used only 1 plate as the colonies in the other plate were very few.

        </p>
        <br>
    </div>
    <div class="week11-images">
        <br>
        <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/week11-2.png" alt="">

        <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/week11-3.png" alt="">
    </div>
    <br>
</div>

<div class="horizontal-group">
    <div class="blue-div">
        <h1>Week 12</h1><br>
        <p>
            This week we performed ligation and transformation three times, observing no growth on the plate. PbrR promotor was prepared as an insert and amplified in PCR. Competent cells were prepared again to create a stock of comp cells.
        </p>
        <br><br><br><br>
    </div>
    <div class="white-div">
        <h1>Week 13</h1><br>
        <p>
            The fragments F5-F6, F7-F8, and F9-F10 were again set for OE PCR, we shifted to Phusion buffer to get better results. Vector digestion was set up and was successful. The PCR was found to be unsuccessful and the OE PCR was set again.
        </p>
        <br><br>
    </div>

</div>

<div class="horizontal-group">
    <div class="white-div">
        <h1>Week 14</h1><br>
        <p>
            For insert preparation, we then shifted to blue white screening of PGMT colonies and tried the vector preparation
        </p>
        <br><br><br>
    </div>
    <div class="blue-div">
        <h1>Week 15</h1><br>
        <p>
            Due to failed results of OE PCR we decided to speed up things and ordered the PbrR gene and the MBD (metal binding domain) of the PbrR gene. This week we performed the amplification of these using PCR from their stock solutions.

            <br><br>Also simultaneously the pSR2 was digested and Ligation and Transformation was performed yielding no results.

        </p>
        <br>
    </div>

</div>

<div class="blue-bg">
    <img class="week15-img" src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/week15.png" alt="">
</div>

<div class="blue-div" style="padding: 7%;">
    <h1>Week 16</h1>
    <br>
    <div class="week16">
        <p>
            We tried Ligation and Transformation again with fresh vectors and Inserts but weren’t able to find any colonies. And we were also facing issues with Insert preparation as the concentrations of our inserts are coming out very weak. So to check whether
            there are any mistakes while preparing the insert, we performed insert prep twice and still failed to get good concentrations of PbrR and Metal Binding of PbrR genes.

        </p>
        <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/dna-page.png" alt="">
    </div>
    <br>

</div>

<div class="white-div" style="padding: 7%;">
    <h1>Week 17</h1>
    <br>
    <p>
        We discussed the issue with everyone and concluded that our primers might not be working properly and so prepared new working solutions of primers for both PbrR and the Metal Binding Domain of PbrR. We finally got well-concentrated inserts with the new
        primer solutions. So good concentrations of inserts are prepared.


    </p>
    <br>
    <div class="week17-img">
        <img src="https://static.igem.wiki/teams/4428/wiki/awards/week-17.png" alt="">

    </div>
</div>
<div class="blue-div" style="padding: 7%; background-color: #122659;">

    <div class="week18">
        <div class="week18-text">
            <h1>Week 18</h1>
            <br>
            <p>
                We discussed with our faculty about the weak concentrations of vectors and made some minor changes in the procedure of vector preparation. Finally, we got good concentrations of vector and inserts, performed Ligation, and Transformed them into <i> E.coli </i>
                Dh5α.


            </p>
        </div>

        <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/week18.png" alt="">
    </div>

</div>

<div class="horizontal-group">
    <div class="blue-div">
        <h1>Week 19</h1><br>
        <p>
            Finally, Colonies were formed. To confirm whether the clone is formed or not, we did Colony PCR and Restriction digestion of the plasmid isolated from the colonies but were unable to confirm the clone.
        </p>
        <br><br><br>
    </div>
    <div class="white-div">
        <h1>Week 20</h1><br>
        <p>
            We performed Ligation and Transformation twice and found colonies on both PbrR and Metal Binding Domain of PbrR.

        </p>
        <br><br><br><br>
    </div>

</div>
<div class="horizontal-group">
    <div class="white-div">
        <h1>Week 21</h1><br>
        <p>
            We did Colony PCR and Restriction Digestion of the plasmid isolated from the colonies and successfully confirmed the clone. And stored the colonies.
        </p>
        <br><br><br>
    </div>
    <div class="blue-div">
        <h1>Week 22</h1><br>
        <p>
            Now that the clone was ready, we transformed this recombinant plasmid into <i> E.coli </i> plysS.

        </p>
        <br><br><br><br><br><br>
    </div>

</div>

<div class="blue-bg" style="padding: 3%;">
    <img class="week15-img" src="https://static.igem.wiki/teams/4428/wiki/wet-lab/notebook/week22.png" alt="">
</div>
<div class="horizontal-group">
    <div class="blue-div">
        <h1>Week 23</h1><br>
        <p>
            Now that the clone was ready, we transformed this recombinant plasmid into E.coli plysS.

        </p>
        <br><br><br>
    </div>
    <div class="white-div">
        <h1>Week 24</h1><br>
        <p>
            Now that the clone has been confirmed and transformed into E.coli plysS, for protein expression we induced the culture of E.coli plysS (transformed with recombinant pSR2) with IPTG and collected samples for SDS PAGE. And also parallely for checking the lead adsorption capacity, before IPTG induction, we added Pb(NO3)2 to the culture and collected samples at different time intervals. Then performed lead adsorption analysis using ICP-MS. 
        </p>
        <br><br><br><br>
    </div>

</div>
</article>



{% endblock %}
