{% extends "layout.html" %}

{% block page_content %}

<div class="cover_img_parts">
    <h1>Protocols</h1>
</div>

<div class="whiteBlock protocols">
    <h3>Plasmid isolation (from <i> E. coli</i>)</h3>
    <br>
    <p class="para">
        1. Inoculate a single colony of <i> E. coli </i> in 5 mL LB in a test tube with appropriate antibiotics.
        <br>
        2. Incubate overnight at 37℃ and 180 rpm. <br>
        3. Harvest the cells by centrifugation at 12000 rpm for 2 minutes (at room temperature). <br>
        4. Discard the supernatant and collect the pellet.<br>
        5. Add 1 mL milli-Q water and centrifuge at 12000 rpm for 2 minutes at room temperature. <br>
        6. Discard the supernatant and collect the pellet. <br>
        7. Resuspend the pellet in 100 μL of Solution I (ice cold). <br>
        8. Incubate for 5 minutes in ice. <br>
        9. Add freshly prepared Solution II (200 μL). <br>
        10. Mix gently by inverting the tubes 4-5 times. <br>
        11. Add 150 μL of ice cold Solution III and mix by inverting 3-4 times and keep on ice for 5 minutes. <br>
        12. Centrifuge at 12000 rpm at 4℃ for 15 minutes. <br>
        13. Transfer the supernatant to a fresh tube. <br>
        14. Add 0.7 volume isopropanol (0.7 volume of the total volume of supernatant). <br>
        15. Mix by inverting or vortexing.<br>
        16. Keep at room temperature for 10 minutes. <br>
        17. Centrifuge at 12000 rpm at 4℃ for 15 minutes. <br>
        18. Discard isopropanol (supernatant) and add 1 mL 70% ethanol to wash the pellet. <br>
        19. Centrifuge at 12000 rpm at 4℃ for 2 minutes. <br>
        20. Air dry the pellet overnight. <br>
        21. Dissolve the pellet in 40 μL of Elution buffer (10mM Tris-Cl, pH 8.5). <br>
        22. Add 0.2 μL RNase. <br>
        23. Incubate for 1 hour at 37℃. <br>
        24. Store the plasmid at 0℃.
    </p>
</div>


{% endblock %}
