{% extends "layout.html" %}

{% block page_content %}

<div class="cover_img_parts">
    <h1>Protocols</h1>
</div>

<div class="whiteBlock protocols">
    <h3>Plasmid Isolation solution II preparation</h3> <br>
    <span>Important note: Use freshly prepared solution II</span> <br>
    <p class="para">For 1 mL,</p>
    <ol class="para">
        <li>Add the following to an empty falcon:
            <ul class="para">
                <li>100 μL 2 N NaOH</li>
                <li>100 μL 10% SDS</li>
                <li>800 μL Milli-Q</li>
            </ul>
        </li>
        <li>Mix well.</li>
    </ol>
</div>
{% endblock %}

