{% extends "layout.html" %}

{% block page_content %}

<div class="cover_img_parts">
    <h1>Protocols</h1>
</div>

<div class="whiteBlock protocols">
    <h3>Plasmid Isolation solution III preparation</h3> <br>
    <p class="para">For 100 mL, pH 4.8,</p>
    <ol class="para">
        <li>Add 29.442 g Potassium acetate to an empty Erlenmeyer flask.
        </li>
        <li>Add 10 mL distilled water and mix well.</li>
        <li>Maintain pH at 4.8 using glacial acetic acid.</li>
        <li>Make up the volume to 100 mL.</li>
    </ol>
</div>


{% endblock %}
