{% extends "layout.html" %}

{% block page_content %}

<div class="cover_img_parts">
    <h1>Protocols</h1>
</div>

<div class="whiteBlock protocols">
    <h3>Plasmid Isolation solution I preparation</h3> <br>
    <p class="para">For 100 mL, pH 8,</p>
    <ol class="para">
        <li>Add the following to an empty Erlenmeyer flask:
            <ul class="para">
                <li>0.908 g glucose</li>
                <li>0.30283 g Tris</li>
                <li>0.40947 g EDTA</li>
            </ul>
        </li>
        <li>Add 10 mL distilled water and mix well.</li>
        <li>Maintain pH at 8 using HCl.</li>
        <li>Make up the volume to 100 mL.</li>
    </ol>
</div>


{% endblock %}
