{% extends "layout.html" %} {% block page_content %}
<article>
<div class="cover_img_parts">
    <h1>Safety</h1>
</div>

<div class="saf1-left">
    <p>
        Our team has followed all the safety guidelines laid out by EHLSU (Environmental Health and Lab Safety Unit) and IBSC (Institutional Biosafety Committee), which are responsible for holding up all the safety rules and regulations in all the labs (including
        ours) at the institution.
    </p>
    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety2.jpeg" alt="">
</div>
<div class="saf1-right">
    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety3-new.jpg" alt="">
    <p>
        Our team went through a week of safety training before starting the hands-on work for our project. Safety and security training helped us in learning the proper management of engineered organisms. The safety and security training and workshops were very
        useful to help us learn proper management of general and specific risks, such as careful handling of chemicals, proper disposal of harmful substances, proper handling of hazardous substances etc.
    </p>
</div>

<div class="saf1-left">
    <div>
        <p>
            The following topics were covered during our safety and security workshops:<br>
        </p>
        <ul>
            <li>Lab access and rules</li>
            <li>Responsibilities</li>
            <li>Different biosafety levels</li>
            <li>Biosafety equipment</li>
            <li>Good microbial technique</li>
            <li>Disinfection and sterilization</li>
            <li>Emergency procedures</li>
            <li>Chemical, fire and electrical safety</li>
        </ul>
    </div>

    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety6.jpg" alt="">
</div>
<div class="saf1-right">
    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety4-new.jpg" alt="">
    <p>
        Reaching out to various experts and some biosafety research helped us in understanding the harmful effects of lead (such as exposures to high levels of lead may cause anemia, weakness and, kidney and brain damage) and AHL (AHL quorum sensing can potentially
        activate pathogenic bacteria since it is used to regulate factors such as virulence and biofilm formation). This helped us in devising strategies for their proper handling and disposal.
    </p>
</div>

<div class="saf1-left">
    <div>
        <p>
            The following biosafety and biosecurity measures<br> were used by us during lab-work in our project:<br>
        </p>
        <ul>
            <li>Accident reporting</li>
            <li>Personal Protective Equipment</li>
            <li>Inventory Controls</li>
            <li>Physical Access Controls</li>
            <li>Data access controls</li>
            <li>Lone worker policy</li>
            <li>Out of hours policy</li>
            <li>Proper waste management and disposal system (including hazardous waste)</li>
        </ul>
    </div>

    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety1.jpeg" alt="">
</div>
<div class="saf1-right">
    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety5.jpg" alt="">
    <p>
        Our project involved engineering of two strains of <i> Escherichia coli </i> (DH5-alpha, BL21(DE3)), which come under Risk-Group 1. We have used a standard microbiological lab (Biosafety level-1) for all our experiments.<br> Possible hazards that could
        have occured during the course of the project include harmful effects of the heavy metal lead. We used lead during experiments to test the working of our engineered organism. Since exposure to high levels of lead can be toxic, prolonged exposure
        could have been dangerous if proper care was not taken. Hence, proper disposal of lead contaminated water was ensured.
    </p>
</div>

<div class="saf1-left">
    <div>
        <p>
            COVID-19 Safety Protocols ensured by us include:
        </p>
        <ul>
            <li>Compulsory wearing of masks for everyone working in the lab.</li>
            <li>Sanitizing/washing hands before entering the lab Proper maintenance of social distancing.</li>
        </ul>
    </div>
    <img src="https://static.igem.wiki/teams/4428/wiki/wet-lab/safety/safety7-new.jpg" alt="">
</div>

<div class="faq">
    <h1>FAQs</h1>
    <br>
    <p><b>
        If your project were fully developed, could any of your engineered organisms or parts spread autonomously in the environment?
    </b></p>
    <p>
        No, our engineered organisms or parts are unable to spread in the environment Moreover, suitable filtering systems will be used to ensure that the organisms don't spread to the water being released into the environment after treatment. Complete sterilisation
        using suitable means such as the use of sodium hypochlorite, and proper disposal of the bio-waste generated will be ensured.

    </p>
    <!-- <br>
    <p><b>
        If your project were fully developed, could any of your engineered organisms or parts spread autonomously in the environment?
    </b></p>
    <p>
        Yes, release to a non-laboratory contained environment (e.g. wastewater treatment plant)<br> Our sensor will involve semi-contained release. The recovery system will involve release to a non-laboratory contained environment, in case permitted
        by the concerned authorities.

    </p> -->
    <br>
    <p><b>
        Imagine that, in the future, your project was fully developed into a real product that real people could use. How would people use it?

     </b></p>
    <p>
        In a small enclosed device (e.g. a bio-sensing strip with cells that detect arsenic, a paper-based cell-free diagnostic) We are developing an oscillatory frequency-based whole-cell biosensor for efficient lead detection and engineered bacteria for lead
        recovery. The sensor will be a small enclosed device that may be used by industries, in agriculture or by ordinary people to detect and measure lead contamination in water. The recovery system will be used in wastewater treatment plants for recovery
        of lead.
    </p>
</div>
</article>

{% endblock %}
