{% extends "layout.html" %}

{% block page_content %}
<article>
<div class="cover_img_awards">
  <h1>Sustainability</h1>
</div>

<div class="cntr">
  <img src="https://static.igem.wiki/teams/4428/wiki/awards/sustainability.png">
</div>

<div class="whiteBlock">
  <p class="para">
    During the brainstorming stages of our project, we as responsible citizens of the planet wanted to create a positive
    impact through it, and thus ideated the design and implementation of the project as per the <b> Sustainable
      Development
      Goals (SDGs).</b> We hope that our analysis would inspire other iGEM teams to build similar projects or create
    similar
    impact through the course of other projects. We have hence identified about <b> 6 Sustainable Development Goals
    </b>that
    our
    project most closely complies with. These are: <br>
    1. No Poverty (Goal 1) <br>
    2. Good health and well being (Goal 3) <br>
    3. Clean water (Goal 6) <br>
    4. Reduced Inequality (Goal 10) <br>
    5. Life below Water (Goal 14) <br>
    6. Life Below Land (Goal 15) <br>
    A thorough analysis of the positive and negative long-term implications of our project in consultation with
    industry
    experts, environmentalists, and government stakeholders, has provided us with a proven and measurable way in which
    we are ultimately responsinf to these SDGs, as presented below :-
    impact through the course of other projects. We have hence identified about 6 Sustainable Development Goals that
    our
    project most closely complies with. These are: <br>
    <b> No Poverty (#Goal 1) and Reduced Inequality (#Goal 2)</b> - Lead is related to poverty, either because people
    with low
    resources live close to sources of lead contamination, or they engage in economic activities that expose them to
    lead, even in their own homes. Precarious environmental situations that are related to hazardous jobs may be
    compounded by limited rights, limited physical, social, or health protections, and a high level of job insecurity.
    So, if we can provide poor people with a lead-free environment and resources, it will improve their health which
    is
    currently a major setback in their socio-economic development. 84% of those who don’t have access to safe water
    live
    in rural areas, where food requirements and the economy majorly rely on agriculture. To increase the quantity and
    quality of agricultural output we need to give them access to water free from lead. If everyone gets water and air
    free of lead independent of the place, the amount they earn will surely reduce inequality and eliminate the
    poverty
    existing in the society.
    <br> <br>
    <b> Good health and well being (#Goal 3) </b>– According to UNICEF, more than 800 million children are affected by
    lead
    exposure, which causes many diseases that may be fatal many times. Lead can be harmful to health even at low
    exposure levels. Children are more vulnerable to the toxic effects of lead and can suffer permanent adverse health
    impacts, particularly on the development of the brain and nervous system. Lead also causes long-term harm in
    adults,
    including an increased risk of high blood pressure and kidney damage. Exposure of pregnant women to high levels of
    lead can cause miscarriage, stillbirth, premature birth, and low birth weight. The alarming statistics of lead
    exposure in developing countries, like ours, with lead exposure causing 853,000 deaths annually compared to an
    overall 852,000 deaths caused by other occupational disorders So, detecting lead and removing it from the
    environment is an urgent need of the world. <br><br>

    Our solution, LEADer, is unique as compared to the existing methods of lead removal, as it offers the value
    proposition of removing lead as per the permissible limits in the industry with high efficiency and in a
    cost-effective manner. The large-scale implementation of our solution, provided regulatory hurdles with the use of
    GMO in water treatment are approved, can eliminate the lead contamination in all types of water samples. This will
    foster a healthy community with reduced susceptibility to different diseases. As a result, good health and well
    being in the society will be achieved.
    <br><br>
    <b> Clean water (#Goal 6) </b>– As of 2015, 29 percent of people globally suffer from a lack of access to safely
    managed
    drinking water. More than double that number are at risk for water contamination from improper wastewater
    management. Lead is the most toxic metal considered a priority pollutant, it can enter the water through
    industrial
    waste, corrosion of lead in plumbing fixtures, or poor wastewater treatment. Lead is persistent in the environment
    and can accumulate in the body over time.
    <br><br>
    Water is the basic need of everyone so it must be free from any toxic elements including lead which we first need
    to
    detect and then need an efficient method to get rid of it. Our solution, LEADer, has the ability of removing lead
    as
    per the permissible limit of 15 microgram/ litre, set by the Environmental Protection Agency. Moreso, the easy and
    cost-effective implementation of LEADer, would lead to a faster adoption of it in the water filtration industry.
    We
    also spoke to executives from the Delhi Jal Board, the government body responsible for the supply of potable water
    in Delhi, India. They were piqued by the results our lead absorbing bacteria is capable of producing and
    encouraged
    us to pursue its implementation for real world application in the water filtration process. They also promised
    their
    complete support as we navigate the regulatory approvals in due course of time, for the use of our engineered
    bacteria in the water treatment. Thus, LEADer can truly democratize access to clean drinking water for citizens of
    this planet.
    <br><br>
    <b> Life below Water (#Goal 14) and Life Below Land (#Goal 15) </b>– Lead is not only toxic to humans but also to
    aquatic
    life and other terrestrial lives. Higher lead concentration can be fatal also for fishes, plants, and other
    animals.
    Pb bioaccumulation in fish tissues causes oxidative stress due to excessive ROS production. Oxidative stress by Pb
    exposure induces synaptic damage, neurotoxicity and influences the immune system as an immune toxicant.
    <br><br>
    Lead inhibits ATP production and damages the lipids and DNA of the plants. In addition, lead strongly inhibits
    seed
    germination, root elongation, seedling development, plant growth, transpiration, chlorophyll production, and water
    and protein content.
    In animals lead directly harms the Central Nervous system (CNS) which results in ceasing grazing, appearing dull
    and
    unresponsive, walking aimlessly, or being blind.
    <br><br>
    <b>
      Our solution, LEADer, is capable of effectively and economically treating wastewater from industries which are
      disposed of into water bodies.</b> To validate our proposed implementation, we visited a wastewater treatment
    plant in
    IIT Delhi. During our visit, we held an interview with the manager of the plant. He walked us through the
    functioning of the plant, which provided us critical insights into the design of our proposed implementation. He
    validated our design of using a bioreactor containing the engineered bacteria for the bioremediation of
    wastewater.
    He was impressed by the effectiveness of LEADer to match the permissible limits of lead concentrations by the
    authorities. He provided us contacts of corporates and also set up a few meetings with some of the biggest
    wastewater treatment players in the country. This will help us further fine tune our strategy and validate our
    technology for creating a better environment to sustain life below land, and below water.

  </p>
</div>
</article>
{% endblock %}
